@model PHS.DB.PHSEvent

@{
    ViewBag.Title = "Create";
}

<script language="javascript" type="text/javascript">
    function addRow() {

        var index = $("#tbBooks").children("tr").length;

        var indexCell = "<td style='display:none'><input name='Books.Index' type='hidden' value='" + index + "' /></td>";
        var titleCell = "<td><input style='width: 100%; max-width:1000px;' id='Books_" + index + "__Title' name='Modalities[" + index + "].Name' type='text' value='' /></td>";
        var removeCell = "<td style='width:200px;'><input id='btnAddBook' type='button'  value='Remove' onclick='removeRow(" + index + ");' /></td>";

        var moveUpCell = "<td style='width:50px;'><input type='button' value='&#8679;' onClick='MoveUp.call(this);'/></td>";
        var moveDownCell = "<td style='width:50px;'><input type='button' value='&#8681;' onClick='MoveDown.call(this);'/></td>";

       // var comboForm = "<td><select id='SelectedForm' name='Modalities[" + index + "].FormID'>' +@Html.Raw(Json.Encode(ViewData["Forms"])) + '</select></td>';
      //  var comboForm = '<td>' +@Html.Raw(Json.Encode(ViewData["Forms"])) +'</td>';
        var comboForm = '';



        var newRow = "<tr id='trBook" + index + "'>" +
        indexCell + titleCell + removeCell +comboForm + moveUpCell + moveDownCell +
           "</tr>";
        $("#tbBooks").append(newRow);
    }

    function removeRow(id) {
        var controlToBeRemoved = "#trBook" + id;
        $(controlToBeRemoved).remove();
    }

    function get_previoussibling(n) {
        x = n.previousSibling;
        while (x.nodeType != 1) {
            x = x.previousSibling;
        }
        return x;
    }

    function get_nextsibling(n) {
        x = n.nextSibling;
        while (x != null && x.nodeType != 1) {
            x = x.nextSibling;
        }
        return x;
    }

    function MoveUp() {
        var table,
            row = this.parentNode;

        while (row != null) {
            if (row.nodeName == 'TR') {
                break;
            }
            row = row.parentNode;
        }
        table = row.parentNode;
        table.insertBefore(row, get_previoussibling(row));
    }

    function MoveDown() {
        var table,
            row = this.parentNode;

        while (row != null) {
            if (row.nodeName == 'TR') {
                break;
            }
            row = row.parentNode;
        }
        table = row.parentNode;
        table.insertBefore(row, get_nextsibling(get_nextsibling(row)));
    }
</script>

<h2>Create Event</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Venue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Venue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Venue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDT, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                @Html.ValidationMessageFor(model => model.StartDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDT, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                @Html.ValidationMessageFor(model => model.EndDT, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model != null && Model.Modalities !=null)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Modality Name
                            </th>
                            <th>
                                Is Active
                            </th>
                            <th>
                                Form Linked
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Modalities)
                        {
                            <tr>
                                <td class="vcenter">
                                    @if (item.ModalityID != 0)
                                    {
                                        <input type="checkbox" id=item.ModalityID value="1" />
                                    }
                                </td>
                                <td>
                                    @if (item.ModalityID != 0)
                                    {
                                        @Html.ActionLink(item.Name, "Details", "Modality", new { modalityid = item.ModalityID }, null)
                                    }
                                    else
                                    {
                                        @item.Name
                                    }
                                </td>
                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        <span class="glyphicon glyphicon-ok-sign" style="color:green"></span>
                                    }
                                    else
                                    {
                                        <span class="glyphicon glyphicon-minus-sign" style="color:grey"></span>
                                    }
                                </td>
                                <td>
                                    @if (item.Forms != null && item.Forms.Count > 0)
                                    {
                                        <span class="glyphicon glyphicon-ok-sign" style="color:green"></span>
                                    }
                                    else
                                    {
                                        <span class="glyphicon glyphicon-minus-sign" style="color:grey"></span>
                                    }
                                </td>
                                <td>
                                    @if (item.ModalityID != 0)
                                    {
                                        @Html.ActionLink(
                                         " ",
                                         "Edit",
                                         "Modality",
                                         new { modalityid = item.ModalityID },
                                         new
                                         {
                                             @class = "glyphicon glyphicon-edit"
                                         })
                                    }
                                </td>
                                <td>
                                    @if (item.ModalityID != 0)
                                    {
                                        @Html.ActionLink(
                                         " ",
                                         "Delete",
                                         "Modality",
                                         new { modalityid = item.ModalityID },
                                         new
                                         {
                                             @onclick = "return confirm('Are you sure you want to delete this Modality');",
                                             @class = "glyphicon glyphicon-trash"
                                         })
                                    }
                                </td>
                                @if (item.ModalityID != 0)
                                {
                                <td>
                                    <input type='button' value='&#8679;' />
                                </td>
                                <td>
                                    <input type='button' value='&#8681;' />
                                </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
}



