@model IEnumerable<PHS.DB.PHSEvent>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
}

<h2>Event Management</h2>


<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/jquery-1.7.1.min")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>

<div style="clear:both;margin-bottom:10px">
    @Html.ActionLink("Create", "Create", "Event", null, new { @class = "btn btn-primary" })
</div>

<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Title).Titled("Event Title").Filterable(true);
    columns.Add(c => c.Venue).Titled("Venue").Filterable(true);
    columns.Add(c => c.StartDT).Titled("Start Date").Filterable(true);
    columns.Add(c => c.EndDT).Titled("End Date").Filterable(true);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.PHSEventID }));

}).WithPaging(10).Sortable(true)
</div>

















