@model IList<PHS.DB.Modality>

<div class="form-group">
    <br/>
    @Html.DropDownList("ModalityID", new SelectList(Model, "ModalityID", "Name"))
    @Html.DropDownList("FormID", new SelectList(Model[0].Forms, "FormID", "Title"))
    @Html.DropDownList("TemplateID", new SelectList(Model.First().Forms.First().Templates, "TemplateID", "TemplateID"))
    @Html.DropDownList("TemplateFieldID", new SelectList(Model.First().Forms.First().Templates.First().TemplateFields, "TemplateFieldID", "Label"))

    <select id="comparisionID">
        <option value="1">==</option>
        <option value="2">!=</option>
        <option value="3">></option>
        <option value="4">>=</option>
        <option value="5"><</option>
        <option value="6"><=</option>
    </select>
    <select id="logicaloperationID">
        <option value="AND">AND</option>
        <option value="OR">OR</option>
    </select>
        <button id="addButton" class="btn btn-primary" type="button">Add</button>
   
        <button id="deleteButton" class="btn btn-primary" type="button">Delete</button>
</div>
<div>
<button id="save" class="btn btn-primary" type="button">Save</button>
</div>

<div id="followupGroup">
</div>

<script>
    $("#save").click(function () {
        var filter = $(ModalityID).val().concat("#", $(FormID).val(), "#", $(TemplateID).val(), "#", $(TemplateFieldID).val(), "#", $(comparisionID).val(), "#", $(logicaloperationID).val());
        alert(filter);
        alert($(this).parent().
        @*$.ajax({
            url: "@Url.Action("GetTeleHealthModalitiesByID", "FollowUpConfiguration")",
            data: { configid: configid },
        type: "Get",
        dataType: "html",
        success: function (result) {
            $("#createfollowupgroups").html(result);
        }
    });*@
    });
    $("#ModalityID").change(function (event) {
        var id = $(this).val();
        $.ajax({
            url: "@Url.Action("GetForms", "FollowUpConfiguration")",
            data: { modalityid: id },
            type: "POST",
            dataType: "json",
            error: function () {
                alert("failure in Getting Forms!");
            },
            success: function (result) {
                $('#FormID').empty();
                $.each(result, function (index, form) {
                    $('#FormID').append($('<option>', {
                        value: form.FormID,
                        text: form.Title
                    }));
                    $('#FormID').trigger('change');
                })
            }
        });
    });

    $("#FormID").change(function (event) {
        var id = $(this).val();
        $.ajax({
            url: "@Url.Action("GetTemplates", "FollowUpConfiguration")",
            data: { formid: id },
            type: "POST",
            dataType: "json",
            error: function () {
                alert("GetTemplates failure!");
            },
            success: function (result) {
                $('#TemplateID').empty();
                $.each(result, function (index, template) {
                    $('#TemplateID').append($('<option>', {
                        value: template.TemplateID,
                        text: template.TemplateID
                    }));
                    $('#TemplateID').trigger('change');
                })
            }
        });
    });
    $("#TemplateID").change(function (event) {
        var id = $(this).val();
        $.ajax({
            url: "@Url.Action("GetTemplateFields", "FollowUpConfiguration")",
            data: { templateid: id },
            type: "POST",
            dataType: "json",
            error: function () {
                alert("GetTemplateFields failure!");
            },
        success: function (result) {
            //alert("GetTemplateFields success");
            $('#TemplateFieldID').empty();
            $.each(result, function (index, templatefield) {
                $('#TemplateFieldID').append($('<option>', {
                    value: templatefield.TemplateFieldID,
                    text: templatefield.Label
                }));
            })
        }
    });
    });
</script>