@model PHS.DB.FollowUpConfiguration

@{
    ViewBag.Title = "Create Follow-up Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Follow-up Configuration</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissable fade in" id="successMessage">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        @TempData["Message"]
    </div>
}

@using (Html.BeginForm("CreateFollowUpConfiguration"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div style="color: red">@ViewBag.error</div>

        <div class="form-group">
            @Html.Label("PHSEvent Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PHSEventID , new SelectList(ViewBag.Events, "PHSEventID", "Title"))
                @Html.ValidationMessageFor(model => model.PHSEventID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="BtnCreate" value="Save" class="button-common"
                       formaction="CreateFollowUpConfiguration" formmethod="post" />
                <input type="submit" name="BtnCancel" value="Back" class="button-common cancel"
                       formaction="Index" formmethod="get" />
            </div>
        </div>
    </div>
}

@if (TempData["Message"] != null)
{
    <p>
        @Html.ActionLink("Add Follow-up Group", "CreateFollowUpGroup", "FollowUpConfiguration", new { @followUpConfigurationID = Model.FollowUpConfigurationID }, new { @class = "btn btn-primary" })
    </p>
}

<div id="createfollowupgroups">
</div>