@*@model List<PHS.Business.ViewModel.PatientJourney.ModalityCircleViewModel> *@
@model List<PHS.DB.Modality>
@using PHS.DB
@using PHS.Business.ViewModel.PatientJourney
@using PHS.FormBuilder.Helpers
@using PHS.FormBuilder.Extensions
@using GridMvc.Html


<style>
    .round-button {
        display: block;
        margin: auto;
        width: 100px;
        height: 100px;
        border: 3px solid black;
        border-radius: 50%;
        color: black;
        text-align: center;
        text-decoration: none;
        background: #02d14a;
        font-size: 12px;
        font-weight: bold;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        /* ...and now for the proper property */
        transition: .5s;
    }

        .round-button:hover {
            background: #ffc402;
        }

    .round-button-inactive {
        display: block;
        margin: auto;
        width: 100px;
        height: 100px;
        border: 3px solid black;
        border-radius: 50%;
        color: black;
        text-align: center;
        text-decoration: none;
        background: grey;
        font-size: 12px;
        font-weight: bold;
        cursor: not-allowed;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        /* ...and now for the proper property */
        transition: .5s;
    }

        .round-button-inactive:hover {
            background: #0f2a54;
        }


</style>

<script type="text/javascript">
    $(document).ready(function () {
        $(".round-button").click(function () {
            var selectedModalityId = $(this).attr('id');
            $("#ptForms").load("/PatientJourney/TestRedirect?nric=S8518538A&eventId=100&selectedModalityId=" + selectedModalityId)
        });
    });
</script>


@{
    ViewBag.Title = "Modality Circles";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}

@using (Html.BeginForm())
{


}



    <div style="text-align: center; width: 200px;" id="ptJourney">
        @{
                Modality firstItem1 = Model.First();
        }
        @foreach (var element in Model)
            {
                if (!@element.Equals(firstItem1))
                {
                    switch (@element.HasParent)
                    {
                        case true:
                        <img src="~/Content/images/Modality/connectline.png" height="30" width="30" style="vertical-align: top;"/>
                        break;

                    case false:
                        <img src="~/Content/images/Modality/connectlineEmpty.png" height="30" width="30" style="vertical-align: top;" />
                        break;
                }
            }

            switch (@element.IsActive)
            {
                case true:
                    <button name="buttons" value="@element.Name" class="round-button" id="@element.ID">
                        <img src="@element.IconPath" height="35" width="35"  />
                        <br />
                        @element.Name
                    </button>
                    break;

                case false:
                    <button name="buttons" value="@element.Name" class="round-button-inactive">
                        <img src="@element.IconPath" height="35" width="35" />
                        <br />
                        @element.Name
                    </button>
                    break;
            }
        }
        
    </div>



