@model PHS.Business.ViewModel.PatientJourney.PatientEventViewModel
@using PHS.FormBuilder.Helpers
@using PHS.FormBuilder.Extensions
@using GridMvc.Html

@{
    ViewBag.Title = "Journey Modality Page";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div>
                <table>
                    <tr>
                        <td><b>@Model.FullName</b></td>
                        <td>Gender : @Model.Gender</td>
                        <td>Age : @Model.Age</td>
                    </tr>

                    <tr>
                        <td>Language : @Model.Language</td>
                        <td>NRIC : @Model.Nric</td>
                        <td>Contact : @Model.ContactNumber</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

}
