@model PHS.Business.ViewModel.PatientSearchModel
@using PHS.FormBuilder.Helpers
@using PHS.FormBuilder.Extensions

@{
    ViewBag.Title = "Search Participant Page";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="text-center">
                <div>

                    @{ 
                        var icFirstDigitFields = new List<SelectListItem>()
                        {
                            new SelectListItem {Text = "S", Value = "S"},
                        };
                    }

                    @Html.DropDownListFor(m => m.IcFirstDigit, icFirstDigitFields)
                    @Html.EditorFor(m => m.IcNumber, new { htmlAttributes = new { @autocomplete = "off", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", maxlength = "7" } })
                    @Html.DropDownListFor(m => m.IcLastDigit, ItemListHelper.NricLastDigit().InsertAtStart(""), new { @class = "shorter-field birth-year" })
                    <button type="submit" value="SearchPatient" class="btn btn-primary btn-lg has-spinner" style="width:100px" id="BtnSearchUser">
                        <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>

    if (Model.Patients != null && Model.Patients.Count > 0)
    {
        <table class="table" style=" width:500px;">
            <tr>
                <th>Event</th>
                <th>NRIC</th>
                <th>Name</th>
            </tr>
            @foreach (var patient in Model.Patients)
            {
                <tr>
                    <td>@patient.Event</td>
                    <td>@patient.Nric</td>
                    <td>@patient.FullName</td>
                </tr>
            }
        </table>
    }
}
