@model PHS.Business.ViewModel.PatientSearchModel
@using PHS.FormBuilder.Helpers
@using PHS.FormBuilder.Extensions
@using GridMvc.Html

@{
    ViewBag.Title = "Search Participant Page";
}

<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />


<script src="@Url.Content("~/Scripts/jquery-1.7.1.min")" type="text/javascript"> </script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>

<script>
    $(function () {
        pageGrids.participantsGrid.onRowSelect(function (e) {
            alert(e.row.EventId);
            $("#BtnGoToEvent").attr("formaction", "/PatientJourney/GoToEvent?eventId=" + e.row.EventId + "&nric=" + e.row.Nric); //Will set it
        });
    });
</script>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="text-center">
                <div>

                    @{ 
                        var icFirstDigitFields = new List<SelectListItem>()
                        {
                            new SelectListItem {Text = "S", Value = "S"},
                        };
                    }

                    @Html.DropDownListFor(m => m.IcFirstDigit, icFirstDigitFields)
                    @Html.EditorFor(m => m.IcNumber, new { htmlAttributes = new { @autocomplete = "off", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", maxlength = "7" } })
                    @Html.DropDownListFor(m => m.IcLastDigit, ItemListHelper.NricLastDigit().InsertAtStart(""), new { @class = "shorter-field birth-year" })
                    <button type="submit" value="SearchPatient" class="btn btn-primary btn-lg has-spinner" style="width:100px" id="BtnSearchUser">
                        <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>

    if (Model.Patients != null && Model.Patients.Count > 0)
    {
       
        @Html.Grid(Model.Patients).Named("participantsGrid").Columns(columns =>
        {
            columns.Add(c => c.Event.Title).Titled("EventTitle").Filterable(false);
            columns.Add(c => c.EventId).Titled("EventID").Filterable(false);
            columns.Add(c => c.Nric).Titled("NRIC").Filterable(false);
            columns.Add(c => c.FullName).Titled("Name").Filterable(false);
        }).WithPaging(10).Selectable(true)

        <button type="submit" value="GoToEvent" class="btn btn-primary btn-lg has-spinner" style="width:100px" id="BtnGoToEvent" formaction="@Url.Action("GoToEvent", "PatientJourney")">
            <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
            Proceed
        </button>
    }
}
