@model PHS.Business.ViewModel.UserSearchModel

@{
    ViewBag.Title = "User Management Page";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal ">
        <hr />
        <div class="form-group">
            <div style="padding-left: 1.8em">
                <b>Search by:</b>
                User id:   @Html.RadioButtonFor(m => m.SearchBy, "UserName", new { @checked = true })
                Name:      @Html.RadioButtonFor(m => m.SearchBy, "FullName")

                <div class="text-center">
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-offset-10">
                <div class="text-center">
                    <input type="submit" name="BtnSearch" value="Search" class="button-common" style="border-radius: 17px;"
                           formaction="SearchUser" formmethod="post" />
                    <input type="submit" name="BtnCreate" value="Create" class="button-other" style="border-radius: 17px;"
                           formaction="CreateUser" formmethod="get" />
                </div>
            </div>
        </div>

        
    </div>

    if (Model != null && Model.persons != null && Model.persons.Count > 0)
    {
        <table class="table" >
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Contact Number</th>
            </tr>
            @foreach (var user in Model.persons)
            {
                <tr>
                    <td>@Html.ActionLink(@user.Username, "EditUser", new { userSid = @user.Sid })</td>
                    <td>@user.FullName</td>
                    <td>@user.Role</td>
                    <td>@user.ContactNumber</td>
                </tr>
            }
        </table>
    }
}
