@using PHS.FormBuilder.Helpers
@using PHS.Common
@using PHS.FormBuilder.Extensions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title PHS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    @RenderSection("Styles", false)



    <!--javascripts-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.5.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tipsy.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.simplemodal.1.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maxlength-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.watermark.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maxlength-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.numeric.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/form-builder/fbuilder.utils.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/form-builder/fbuilder.global.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/css_browser_selector.js")"></script>   

    <!--Css
    <link type="text/css" href="/Content/css/reset.css" rel="stylesheet" />-->
    <link type="text/css" href="@Url.Content("~/Content/css/blueprint/screen.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.selectable.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.autocomplete.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.slider.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/plugins/tipsy.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/form-builder/forms-global.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/plugins/jquery.jcrop.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/form-builder/forms-sprites.css")" rel="stylesheet" />
    @RenderSection("headerScripts", false)



    <link type="text/css" href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />

    @RenderSection("FormCSS", required: false)



</head>
<body class="@Html.GetContextCssClass()"   >
    <div class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PHS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", onclick = "javascrip:return false;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  
                </ul>
                @{

                    string url = Request.Path;
                    if (url.IndexOf("Admin", StringComparison.OrdinalIgnoreCase) >= 0)
                    {
                        @Html.Partial("_LoginAdminPartial")
                    }
                    else if (url.IndexOf("Instructor", StringComparison.OrdinalIgnoreCase) >= 0)
                    {
                        @Html.Partial("_LoginInstructorPartial")
                    }
                    else if (url.IndexOf("Student", StringComparison.OrdinalIgnoreCase) >= 0)
                    {
                        @Html.Partial("_LoginStudentPartial")
                    }


                }

            </div>
        </div>
    </div>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">@Html.ActionLink("User Management", "SearchUser", "Admin", null, null)</li>
            <li class="sidebar-brand">@Html.ActionLink("Event Management", "Index", "Event", null, null)</li>
            <li><a href="#">Form Management</a> </li>
            <li class="sidebar-brand">@Html.ActionLink("Fake Volunteer Login landing page", "SearchPatient", "PatientJourney", null, null)</li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <div id="page-body" class="container body-content panel-body glyphicon-align-center" style="min-height:800px;">
        
        
        @RenderBody()
        <hr />

    </div>
 
    @if (!String.IsNullOrEmpty(ViewBag.BackURL))
    {
        <div class="container">
            <a href="@ViewBag.BackURL" class="navbar-nav">Back To List</a>
        </div>
    }
    <br />
    
    <footer class="panel-footer" style="text-align:center">
        <p>&copy; @DateTime.Now.Year - PT4 Active Learning Application</p>
    </footer>



    @RenderSection("footerScripts", false)
    <script type="text/javascript">
            $(document).ready(function () {
                global.init();
                @RenderSection("initializers", false)
            });


    </script>


</body>
</html>
