
@using PHS.Common
@using PHS.Business.Extensions
@using PHS.DB


@*@{
        var menus = new[]
                    {
                       new { LinkText="User Management", ActionName="Index",ControllerName="User",Area="Admin",Roles="Committee Member"  },
                       new { LinkText="Event Management", ActionName="Index",ControllerName="Event",Area="",Roles="Committee Member"  },
                       new { LinkText="Form Management", ActionName="Index",ControllerName="Form",Area="",Roles="Committee Member"  },
                       new { LinkText="Past Event", ActionName="Index",ControllerName="PastParticipantJourney",Area="",Roles="Committee Member"  },
                       new { LinkText="Event Helper", ActionName="Index",ControllerName="ParticipantJourney",Area="",Roles="Committee Member,Volunteer,Doctor"  },
                       new { LinkText="Standard Reference", ActionName="Index",ControllerName="StandardReference",Area="Admin",Roles="Committee Member"  },

                    };
    }*@


<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            box-sizing: border-box;
            font: 14px 'Segoe UI', tahoma, arial, helvetica, sans-serif;
        }

        .header, .footer {
            background: #ACD8E0;
            color: black;
            box-shadow: 2px 2px 2px gray;
        }

        .column {
            <!--
            float: left;
            -->
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        /*.menu {
            width: 20%;
            padding-top: 35px;
        }*/

        .content {
            width: 80%;
        }

        /*.menu ul {
            list-style-type: none;
            margin: 0;
            padding-left: 20%;
        }

        .menu li {
            padding: 8px;
            margin-bottom: 8px;
            color: #ffffff;
            font-size: 1.4em;
        }*/

        #colorstrip {
            width: 100%;
            border-style: none;
        }




        .fa-2x {
            font-size: 2em;
        }

        .fa {
            position: relative;
            display: table-cell;
            width: 60px;
            height: 36px;
            text-align: center;
            vertical-align: middle;
            font-size: 20px;
        }


        .main-menu:hover, nav.main-menu.expanded {
            width: 200px;
            overflow: visible;
        }

        .main-menu {
            background: #fbfbfb;
            border-right: 1px solid #e5e5e5;
            position: absolute;
            top: 20%;
            bottom: 0;
            height: 80%;
            left: 0;
            width: 20px;
            overflow: hidden;
            -webkit-transition: width .05s linear;
            transition: width .05s linear;
            -webkit-transform: translateZ(0) scale(1,1);
            z-index: 1000;
            color: black
        }

            .main-menu > ul {
                margin: 7px 0;
            }

            .main-menu li {
                position: relative;
                display: block;
                width: 250px;
            }

                .main-menu li > a {
                    position: relative;
                    display: table;
                    border-collapse: collapse;
                    border-spacing: 0;
                    color: #999;
                    font-family: arial;
                    font-size: 14px;
                    text-decoration: none;
                    -webkit-transform: translateZ(0) scale(1,1);
                    -webkit-transition: all .1s linear;
                    transition: all .1s linear;
                }

            .main-menu .nav-icon {
                position: relative;
                display: table-cell;
                width: 60px;
                height: 36px;
                text-align: center;
                vertical-align: middle;
                font-size: 18px;
            }

            .main-menu .nav-text {
                position: relative;
                display: table-cell;
                vertical-align: middle;
                width: 190px;
                font-family: 'Titillium Web', sans-serif;
            }

            .main-menu > ul.logout {
                position: absolute;
                left: 0;
                bottom: 0;
            }

        .no-touch .scrollable.hover {
            overflow-y: hidden;
        }

            .no-touch .scrollable.hover:hover {
                overflow-y: auto;
                overflow: visible;
            }

        a:hover, a:focus {
            text-decoration: none;
        }

        nav {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

            nav ul, nav li {
                outline: 0;
                margin: 0;
                padding: 0;
            }

            .main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
                color: #fff;
                background-color: black;
            }

        .area {
            float: left;
            background: black;
            width: 100%;
            height: 80%;
        }

        #menu-ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #337ab7;
        }

        #menu-li {
            float: left;
            border-right: 1px solid #bbb;
        }

            #menu-li:last-child {
                border-right: none;
            }

            #menu-li a {
                display: block;
                color: white;
                text-align: center;
                padding: 8px 10px;
                text-decoration: none;
            }

                #menu-li a:hover:not(.active) {
                    background-color: #111;
                }

    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.s0">
    <title>@ViewBag.Title PHS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @RenderSection("Styles", false)

    <!--javascripts-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.5.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tipsy.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.simplemodal.1.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maxlength-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.watermark.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maxlength-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.numeric.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/form-builder/fbuilder.utils.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/form-builder/fbuilder.global.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/css_browser_selector.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/bootstrap-datetimepicker.js")"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/respond.js")"></script>

    <!--Css
    <link type="text/css" href="/Content/css/reset.css" rel="stylesheet" />-->
    @*<link type="text/css" href="@Url.Content("~/Content/css/blueprint/screen.css")" rel="stylesheet" />*@
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.selectable.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.autocomplete.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.slider.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/plugins/tipsy.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/form-builder/Forms-global.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/plugins/jquery.jcrop.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/form-builder/Forms-sprites.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/usermanage/um.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/bootstrap-datetimepicker.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    @RenderSection("headerScripts", false)



    <link type="text/css" href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />

    @RenderSection("FormCSS", required: false)


</head>
<body class="@Html.GetContextCssClass()" style="padding-top: 0px;padding-bottom: 0px;">
    <div class="header" style="height: 150px;">
        <img src="~/Content/images/logo.gif" alt="logo" style="position: absolute;width:350px;height:134px;padding-left: 100px;padding-top: 15px;" />
        <div id="colorstrip" style="height: 12px; background-color: #181C86;"></div>
        <div id="colorstrip" style="height: 7px; background-color: #FF9900;"></div>
        @if (HttpContext.Current.Session["LoginUser"] != null)
        {
            <div class="dropdown pull-right" style="position: absolute; top: 90px;right: 100px;">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    @User.Identity.Name
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Edit Profile", "EditProfile", new { area = "", controller = "Home" })</li>
                    <li>@Html.ActionLink("Change Password", "ChangePassword", new { area = "", controller = "Home" })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Logout", "LogOff", new { area = "", controller = "Home" })</li>
                </ul>
            </div>

                    <div id="colorstrip" style="position: absolute; top: 135px; height: 10px; background-color: #337ab7;">                      

                            <ul id="menu-ul">
                                @if (@User.IsInRole("Committee Member"))
                                {
                                    <li id = "menu-li">@Html.ActionLink("User Management", "Index", "User", new { ControllerName = "User", Area = "Admin", Roles = "Committee Member" }, new { @style = "color:white;" })</li>
                                    <li id = "menu-li">@Html.ActionLink("Event Management", "Index", "Event", new { ControllerName = "Event", Area = "", Roles = "Committee Member" }, new { @style = "color:white;" })</li>
                                    <li id = "menu-li">@Html.ActionLink("Form Management", "Index", "Form", new { ControllerName = "Form", Area = "", Roles = "Committee Member" }, new { @style = "color:white;" })</li>
                                    <li id="menu-li">@Html.ActionLink("Standard Reference", "Index", "StandardReference", new { ControllerName = "StandardReference", Area = "Admin", Roles = "Committee Member" }, new { @style = "color:white;" })</li>
                                    <li id = "menu-li">@Html.ActionLink("Past Event", "Index", "PastParticipantJourney", new { ControllerName = "PastParticipantJourney", Area = "", Roles = "Committee Member, Doctor" }, new { @style = "color:white;" })</li>

                                }
                                @if (@User.IsInRole("Committee Member") || @User.IsInRole("Volunteer") || @User.IsInRole("Doctor"))
                                {
                                    if (@User.IsInRole("Doctor"))
                                    {
                                    <li id="menu-li">@Html.ActionLink("Past Event", "Index", "PastParticipantJourney", new { ControllerName = "PastParticipantJourney", Area = "", Roles = "A, D" }, new { @style = "color:white;" })</li>
                                    }
                                    <li id = "menu-li">@Html.ActionLink("Event", "Index", "ParticipantJourney", new { ControllerName = "ParticipantJourney", Area = "", Roles = "A,V,D" }, new { @style = "color:white;" })</li>
                                }
                            </ul>

                    </div>
        }


    </div>

    @*<div class="navbar-default" style="background: #aaa;color:black;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("PHS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", onclick = "javascrip:return false;" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                    </ul>
                    @{

                        string url = Request.Path;
                        if (url.IndexOf("Admin", StringComparison.OrdinalIgnoreCase) >= 0)
                        {
                            @Html.Partial("_LoginAdminPartial")
                        }
                        else if (url.IndexOf("Instructor", StringComparison.OrdinalIgnoreCase) >= 0)
                        {
                            @Html.Partial("_LoginInstructorPartial")
                        }
                        else if (url.IndexOf("Student", StringComparison.OrdinalIgnoreCase) >= 0)
                        {
                            @Html.Partial("_LoginStudentPartial")
                        }


                    }

                </div>
            </div>
        </div>*@
    <div class="area"></div>
@if (HttpContext.Current.Session["LoginUser"] != null)
{
    var role = (HttpContext.Current.Session["LoginUser"] as PHSUser).Role;
    @*var links = from item in menus
                where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                .Any(x => role.Equals(x))
                select item;
    <nav class="main-menu">
        <a href="#">
            <i class="fa fa-home fa-2x"></i>
            <div>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-home fa-2x"></i>
                            <span class="nav-text">

                                    </span>
                                </a>
                            </li>

                            @foreach (var link in links)
                            {
                                <li>
                                    <i class="fa fa-home fa-2x"></i>
                                    <span class="nav-text">
                                        @Html.ActionLink(link.LinkText, link.ActionName, new { area = link.Area, controller = link.ControllerName })
                                    </span>
                                </li>
                            }
                            <li>
                                <i class="fa fa-home fa-2x"></i>
                                <span class="nav-text">
                                    @Html.ActionLink("Logout", "LogOff", new { area = "", controller = "Home" })
                                </span>
                            </li>
                        </ul>
                    </div>
                </a>
            </nav>*@
    }

    <!-- Sidebar -->
    <div class="clearfix">
        <!--
        <div class="column menu">
            <ul>

                    @if (HttpContext.Current.Session["LoginUser"] != null)
                    {
                        var role = (HttpContext.Current.Session["LoginUser"] as PHSUser).Role;
                        //var links = from item in menus
                        //            where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                        //            .Any(x => role.Equals(x))
                        //            select item;
                        //foreach (var link in links)
                        //{
                        //}

                    <li> @Html.ActionLink("Logout", "LogOff", new { area = "", controller = "Home" })</li>
                }
            </ul>
        </div>
            -->

        <div style="align-content:center">
    <!-- /#sidebar-wrapper -->
            <div id="page-body" class="container body-content panel-body" style="min-height:800px;min-width: 1200px">

                @RenderBody()
                <hr />

            </div>

            @if (!String.IsNullOrEmpty(ViewBag.BackURL))
            {
                <div class="container">
                    <a href="@ViewBag.BackURL" class="navbar-nav">Back To List</a>
                </div>
            }
            <br />
        </div>
    </div>

    <div class="footer" style="text-align: center;">
        <p>&copy; @DateTime.Now.Year - Public Health Service</p>
    </div>

    @RenderSection("footerScripts", false)
    <script type="text/javascript">
            $(document).ready(function () {
                global.init();
                @RenderSection("initializers", false)
            });
    </script>

</body>
</html>
