
@using PHS.Common
@using PHS.FormBuilder.Extensions
@using PHS.DB

@{
    var menus = new[]
                {
                   new { LinkText="User Management", ActionName="ManageUser",ControllerName="Admin",Roles="A"  },
                   new { LinkText="Event Management", ActionName="Index",ControllerName="Event",Roles="A"  },
                   new { LinkText="Form Management", ActionName="Index",ControllerName="Forms",Roles="A"  },
                   new { LinkText="Event Helper", ActionName="SearchPatient",ControllerName="PatientJourney",Roles="A,V,D"  },

                };
}

<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            box-sizing: border-box;
            font: 14px 'Segoe UI', tahoma, arial, helvetica, sans-serif;
        }

        .header, .footer {
            background: #ACD8E0;
            color: black;
            box-shadow: 2px 2px 2px gray;
        }

        .column {
            <!--
            float: left;
            -->
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .menu {
            width: 20%;
            padding-top: 35px;
        }

        .content {
            width: 80%;
        }

        .menu ul {
            list-style-type: none;
            margin: 0;
            padding-left: 20%;
        }

        .menu li {
            padding: 8px;
            margin-bottom: 8px;
            color: #ffffff;
            font-size: 1.4em;
        }

        #colorstrip {
            width: 100%;
            border-style: none;

        }




        .fa-2x {
            font-size: 2em;
        }

        .fa {
            position: relative;
            display: table-cell;
            width: 60px;
            height: 36px;
            text-align: center;
            vertical-align: middle;
            font-size: 20px;
        }


        .main-menu:hover, nav.main-menu.expanded {
            width: 200px;
            overflow: visible;
        }

        .main-menu {
            background: #fbfbfb;
            border-right: 1px solid #e5e5e5;
            position: absolute;
            top: 20%;
            bottom: 0;
            height: 80%;
            left: 0;
            width: 20px;
            overflow: hidden;
            -webkit-transition: width .05s linear;
            transition: width .05s linear;
            -webkit-transform: translateZ(0) scale(1,1);
            z-index: 1000;
            color:black
        }

            .main-menu > ul {
                margin: 7px 0;
            }

            .main-menu li {
                position: relative;
                display: block;
                width: 250px;
            }

                .main-menu li > a {
                    position: relative;
                    display: table;
                    border-collapse: collapse;
                    border-spacing: 0;
                    color: #999;
                    font-family: arial;
                    font-size: 14px;
                    text-decoration: none;
                    -webkit-transform: translateZ(0) scale(1,1);
                    -webkit-transition: all .1s linear;
                    transition: all .1s linear;
                }

            .main-menu .nav-icon {
                position: relative;
                display: table-cell;
                width: 60px;
                height: 36px;
                text-align: center;
                vertical-align: middle;
                font-size: 18px;
            }

            .main-menu .nav-text {
                position: relative;
                display: table-cell;
                vertical-align: middle;
                width: 190px;
                font-family: 'Titillium Web', sans-serif;
            }

            .main-menu > ul.logout {
                position: absolute;
                left: 0;
                bottom: 0;
            }

        .no-touch .scrollable.hover {
            overflow-y: hidden;
        }

            .no-touch .scrollable.hover:hover {
                overflow-y: auto;
                overflow: visible;
            }

        a:hover, a:focus {
            text-decoration: none;
        }

        nav {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

            nav ul, nav li {
                outline: 0;
                margin: 0;
                padding: 0;
            }

            .main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
                color: #fff;
                background-color: black;
            }

        .area {
            float: left;
            background: black;
            width: 100%;
            height: 80%;
        }

    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.s0">
    <title>@ViewBag.Title PHS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @RenderSection("Styles", false)


    <link type="text/css" href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/respond.js")"></script>


    <!--javascripts-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.5.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tipsy.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.simplemodal.1.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maxlength-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.watermark.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maxlength-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.numeric.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/form-builder/fbuilder.utils.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/form-builder/fbuilder.global.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/css_browser_selector.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/bootstrap-datetimepicker.js")"></script>

    <!--Css
    <link type="text/css" href="/Content/css/reset.css" rel="stylesheet" />-->
    @*<link type="text/css" href="@Url.Content("~/Content/css/blueprint/screen.css")" rel="stylesheet" />*@
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.selectable.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.autocomplete.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.slider.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/plugins/tipsy.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/form-builder/forms-global.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/plugins/jquery.jcrop.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/form-builder/forms-sprites.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/usermanage/um.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/bootstrap-datetimepicker.css")" rel="stylesheet" />
    @RenderSection("headerScripts", false)



    <link type="text/css" href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />

    @RenderSection("FormCSS", required: false)


</head>
<body class="@Html.GetContextCssClass()" style="padding-top: 0px;padding-bottom: 0px;">
    <div class="header" style="height: 136px;">
        <img src="~/Content/images/logo.png" alt="logo" style="position: absolute;width:350px;height:134px;padding-left: 100px;padding-top: 1px;box-shadow: 2px 0px 2px gray;" />
        <div id="colorstrip" style="height: 12px; background-color: #181C86;"></div>
        <div id="colorstrip" style="height: 7px; background-color: #FF9900;"></div>
    </div>
    @*<div class="navbar-default" style="background: #aaa;color:black;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("PHS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", onclick = "javascrip:return false;" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                    </ul>
                    @{

                        string url = Request.Path;
                        if (url.IndexOf("Admin", StringComparison.OrdinalIgnoreCase) >= 0)
                        {
                            @Html.Partial("_LoginAdminPartial")
                        }
                        else if (url.IndexOf("Instructor", StringComparison.OrdinalIgnoreCase) >= 0)
                        {
                            @Html.Partial("_LoginInstructorPartial")
                        }
                        else if (url.IndexOf("Student", StringComparison.OrdinalIgnoreCase) >= 0)
                        {
                            @Html.Partial("_LoginStudentPartial")
                        }


                    }

                </div>
            </div>
        </div>*@

    <div class="area"></div>
    <nav class="main-menu">      
                <a href="#">
                    <i class="fa fa-home fa-2x"></i>
                    <div>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-home fa-2x"></i>
                                    <span class="nav-text">
                                        
                                    </span>
                                </a>
                            </li>

                            @if (HttpContext.Current.Session["LoginUser"] != null)
                            {
                                var role = (HttpContext.Current.Session["LoginUser"] as Person).Role;
                                var links = from item in menus
                                            where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                                            .Any(x => role.Equals(x))
                                            select item;
                                foreach (var link in links)
                                {
                                    <li>                         
                                            <i class="fa fa-home fa-2x"></i>
                                            <span class="nav-text">
                                                @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)
                                            </span>                              
                                    </li>                                  

                                }
                                <li>                          
                                        <i class="fa fa-home fa-2x"></i>
                                        <span class="nav-text">
                                            @Html.ActionLink("Logout", "LogOff", "Admin")
                                        </span>                                    
                                </li>
                            }
                        </ul>
                    </div>
                </a>    
    </nav>

    <!-- Sidebar -->
    <div class="clearfix">
        <!--
        <div class="column menu">           
            <ul>

                @if (HttpContext.Current.Session["LoginUser"] != null)
                {
                    var role = (HttpContext.Current.Session["LoginUser"] as Person).Role;
                    var links = from item in menus
                                where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                                .Any(x => role.Equals(x))
                                select item;
                    foreach (var link in links)
                    {
                        <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
                    }

                    <li> @Html.ActionLink("Logout", "LogOff", "Admin")</li>
                }
            </ul>
        </div>
            -->

        <div class="column content" style="margin:0 auto;">
            <!-- /#sidebar-wrapper -->
            <div id="page-body" class="container body-content panel-body" style="min-height:800px;min-width: 1130px">

                @RenderBody()
                <hr />

            </div>

            @if (!String.IsNullOrEmpty(ViewBag.BackURL))
            {
                <div class="container">
                    <a href="@ViewBag.BackURL" class="navbar-nav">Back To List</a>
                </div>
            }
            <br />
        </div>
    </div>

    <div class="footer" style="text-align: center;">
        <p>&copy; @DateTime.Now.Year - Public Health Service</p>
    </div>

    @RenderSection("footerScripts", false)
    <script type="text/javascript">
        $(document).ready(function () {
            global.init();
            @RenderSection("initializers", false)
        });
    </script>

</body>
</html>
