
@using PHS.Common
@using PHS.Business.Extensions
@using PHS.DB

<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
                * {
                    box-sizing: border-box;
                    font: 14px 'Segoe UI', tahoma, arial, helvetica, sans-serif;
                }

                .header, .footer {
                    background: #ACD8E0;
                    color: black;
                    box-shadow: 2px 2px 2px gray;
                }

                .column {
                    <!--
                    float: left;
                    -->
                }

                .clearfix::after {
                    content: "";
                    clear: both;
                    display: table;
                }

                /*.menu {
                width: 20%;
                padding-top: 35px;
            }*/

                .content {
                    width: 80%;
                }

                /*.menu ul {
                list-style-type: none;
                margin: 0;
                padding-left: 20%;
            }

            .menu li {
                padding: 8px;
                margin-bottom: 8px;
                color: #ffffff;
                font-size: 1.4em;
            }*/

                #colorstrip {
                    width: 100%;
                    border-style: none;
                }




                .fa-2x {
                    font-size: 2em;
                }

                .fa {
                    position: relative;
                    display: table-cell;
                    width: 60px;
                    height: 36px;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 20px;
                }


                .main-menu:hover, nav.main-menu.expanded {
                    width: 200px;
                    overflow: visible;
                }

                .main-menu {
                    background: #fbfbfb;
                    border-right: 1px solid #e5e5e5;
                    position: absolute;
                    top: 20%;
                    bottom: 0;
                    height: 80%;
                    left: 0;
                    width: 20px;
                    overflow: hidden;
                    -webkit-transition: width .05s linear;
                    transition: width .05s linear;
                    -webkit-transform: translateZ(0) scale(1,1);
                    z-index: 1000;
                    color: black;
                }

                    .main-menu > ul {
                        margin: 7px 0;
                    }

                    .main-menu li {
                        position: relative;
                        display: block;
                        width: 250px;
                    }

                        .main-menu li > a {
                            position: relative;
                            display: table;
                            border-collapse: collapse;
                            border-spacing: 0;
                            color: #999;
                            font-family: arial;
                            font-size: 14px;
                            text-decoration: none;
                            -webkit-transform: translateZ(0) scale(1,1);
                            -webkit-transition: all .1s linear;
                            transition: all .1s linear;
                        }

                    .main-menu .nav-icon {
                        position: relative;
                        display: table-cell;
                        width: 60px;
                        height: 36px;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 18px;
                    }

                    .main-menu .nav-text {
                        position: relative;
                        display: table-cell;
                        vertical-align: middle;
                        width: 190px;
                        font-family: 'Titillium Web', sans-serif;
                    }

                    .main-menu > ul.logout {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }

                .no-touch .scrollable.hover {
                    overflow-y: hidden;
                }

                    .no-touch .scrollable.hover:hover {
                        overflow-y: auto;
                        overflow: visible;
                    }

                a:hover, a:focus {
                    text-decoration: none;
                }

                nav {
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -o-user-select: none;
                    user-select: none;
                }

                    nav ul, nav li {
                        outline: 0;
                        margin: 0;
                        padding: 0;
                    }

                    .main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
                        color: #fff;
                        background-color: black;
                    }

                .area {
                    float: left;
                    background: black;
                    width: 100%;
                    height: 80%;
                }

                #menu-ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    background-color: #337ab7;
                }

                #menu-li {
                    float: left;
                    border-right: 1px solid #bbb;
                }

                    #menu-li:last-child {
                        border-right: none;
                    }

                    #menu-li a {
                        display: block;
                        color: white;
                        text-align: center;
                        padding: 8px 10px;
                        text-decoration: none;
                    }

                        #menu-li a:hover:not(.active) {
                            background-color: #111;
                        }



        </style>

        <meta charset="utf-8" />
        <title>@ViewBag.Title - Drag N' Drop FormBuilder</title>

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />          
        <!--javascripts-->
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.js")"></script>        
        <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.5.3.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tipsy.js")"></script>
        
        <!-- Cause Color Picker Bug    -->
        @*<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.simplemodal.1.4.min.js")"></script>*@
        
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maxlength-min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.watermark.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maxlength-min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.numeric.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/form-builder/fbuilder.utils.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/form-builder/fbuilder.global.js")"></script>   
        <script type="text/javascript" src="@Url.Content("~/scripts/css_browser_selector.js")"></script>     

        <!--Css     
        <link type="text/css" href="/Content/css/reset.css" rel="stylesheet"  />-->
        <link type="text/css" href="@Url.Content("~/Content/css/blueprint/screen.css")" rel="stylesheet"  />
        <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")" rel="stylesheet"  />
        <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.selectable.css")" rel="stylesheet"  />
        <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.autocomplete.css")" rel="stylesheet"  />
        <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.slider.css")" rel="stylesheet"  />
        <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" rel="stylesheet"  />
        <link type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet"  />
        <link type="text/css" href="@Url.Content("~/Content/css/plugins/tipsy.css")" rel="stylesheet"  />
        <link type="text/css" href="@Url.Content("~/Content/css/form-builder/Forms-global.css")" rel="stylesheet"  />        
        <link type="text/css" href="@Url.Content("~/Content/css/plugins/jquery.jcrop.css")" rel="stylesheet"  />
        <link type="text/css" href="@Url.Content("~/Content/css/form-builder/Forms-sprites.css")" rel="stylesheet"  />          
        @RenderSection("headerScripts", false)


    </head>
    <body class="@Html.GetContextCssClass()">      
        <div class="header" style="height: 150px;">
            <img src="~/Content/images/logo.gif" alt="logo" style="position: absolute;width:350px;height:134px;padding-left: 100px;padding-top: 15px;" />
            <div id="colorstrip" style="height: 12px; background-color: #181C86;"></div>
            <div id="colorstrip" style="height: 7px; background-color: #FF9900;"></div>
            @if (HttpContext.Current.Session["LoginUser"] != null &&
                (HttpContext.Current.Session["LoginUser"] as PHSUser).Role != null)
            {
                <div class="dropdown pull-right" style="position: absolute; top: 90px;right: 100px;">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        @User.Identity.Name
                        <span class="caret"></span>
                    </button>
                    <!--
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit Profile", "EditProfile", new { area = "", controller = "Home" })</li>
                        <li>@Html.ActionLink("Change Password", "ChangePassword", new { area = "", controller = "Home" })</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Logout", "LogOff", new { area = "", controller = "Home" })</li>
                    </ul>
                        -->
                </div>

                <div id="colorstrip" style="position: absolute; top: 135px; height: 10px; background-color: #337ab7;">                      
                    <ul id="menu-ul">
                        @if (@User.IsInRole("Committee Member") || @User.IsInRole("Follow-up Committee Member"))
                        {
                            <li id = "menu-li">@Html.ActionLink("User Management", "Index", "User", new { ControllerName = "User", Area = "Admin", Roles = "Committee Member, Follow-up Committee Member" }, new { @style = "color:white;" })</li>
                            <li id = "menu-li">@Html.ActionLink("Event Management", "Index", "Event", new { ControllerName = "Event", Area = "", Roles = "Committee Member, Follow-up Committee Member" }, new { @style = "color:white;" })</li>
                            <li id = "menu-li">@Html.ActionLink("Form Management", "Index", "Form", new { ControllerName = "Form", Area = "", Roles = "Committee Member, Follow-up Committee Member" }, new { @style = "color:white;" })</li>
                            <li id = "menu-li">@Html.ActionLink("Standard Reference", "Index", "StandardReference", new { ControllerName = "StandardReference", Area = "Admin", Roles = "Committee Member, Follow-up Committee Member" }, new { @style = "color:white;" })</li>
                            <li id = "menu-li">@Html.ActionLink("Past Event", "Index", "PastParticipantJourney", new { ControllerName = "PastParticipantJourney", Area = "", Roles = "Committee Member, Doctor, Follow-up Committee Member" }, new { @style = "color:white;" })</li>
                            <li id=  "menu-li">@Html.ActionLink("Follow-up Management", "Index", "FollowUpMgmt", new { ControllerName = "FollowUpMgmt", Area = "Admin", Roles = "Committee Member, Follow-up Committee Member" }, new { @style = "color:white;" })</li>
                            <li id=  "menu-li">@Html.ActionLink("Follow-up Configuration", "Index", "FollowUpConfiguration", new { ControllerName = "FollowUpConfiguration", Area = "Admin", Roles = "Committee Member, Follow-up Committee Member" }, new { @style = "color:white;" })</li>
                        }
                        @if (@User.IsInRole("Committee Member") || @User.IsInRole("Volunteer") || @User.IsInRole("Doctor") || @User.IsInRole("Follow-up Committee Member"))
                        {
                            if (@User.IsInRole("Doctor"))
                            {
                            <li id = "menu-li">@Html.ActionLink("Past Event", "Index", "PastParticipantJourney", new { ControllerName = "PastParticipantJourney", Area = "", Roles = "Committee Member, Doctor, Follow-up Committee Member" }, new { @style = "color:white;" })</li>
                            }
                            <li id = "menu-li">@Html.ActionLink("Event", "Index", "ParticipantJourney", new { ControllerName = "ParticipantJourney", Area = "", Roles = "Committee Member, Volunteer, Doctor, Follow-up Committee Member" }, new { @style = "color:white;" })</li>
                        }
                        @if (@User.IsInRole("Committee Member") || @User.IsInRole("Follow-up Committee Member"))
                        {
                            <li id = "menu-li">@Html.ActionLink("Follow-up Management", "Index", "FollowUpMgmt", new { ControllerName = "FollowUpMgmt", Area = "Admin", Roles = "Committee Member, Follow-up Committee Member" }, new { @style = "color:white;" })</li>
                            <li id = "menu-li">@Html.ActionLink("Follow-up Configuration", "Index", "FollowUpConfiguration", new { ControllerName = "FollowUpConfiguration", Area = "Admin", Roles = "Committee Member, Follow-up Committee Member" }, new { @style = "color:white;" })</li>
                        }
                        @if (@User.IsInRole("Committee Member") || @User.IsInRole("Follow-up Volunteer") || @User.IsInRole("Follow-up Committee Member"))
                        {
                            <li id = "menu-li">@Html.ActionLink("Follow-up", "Index", "FollowUp", new { ControllerName = "FollowUp", Area = "", Roles = "Committee Member, Follow-up Volunteer, Follow-up Committee Member" }, new { @style = "color:white;" })</li>
                        }
                    </ul>
                </div>
            }


        </div>
        <div id="page-body">
            @RenderBody()
        </div>    

        

     
            <div class="column content" style="margin:0 auto;">
                <!-- /#sidebar-wrapper -->

                @if (!String.IsNullOrEmpty(ViewBag.BackURL))
                {
                    <div class="container">
                        <a href="@ViewBag.BackURL" class="navbar-nav">Back To List</a>
                    </div>
                }
                <br />
            </div>

        <div class="footer" style="text-align: center;">
            <p>&copy; @DateTime.Now.Year - Public Health Service</p>
        </div>

        @RenderSection("footerScripts", false)
        <script type="text/javascript">
                $(document).ready(function () {                                             
                    global.init();
                    @RenderSection("initializers", false)                 
                });


        </script>
    </body>
</html>
