@model IEnumerable<PHS.DB.FollowUpConfiguration>

<div class="panel panel-default">
@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        if (item.Deploy)
        {
            <h4 style="color:blue">@item.Title is deployed!!</h4>
        }
    }
    <div class="panel-body" style="width: 100%;">
        <div style="float:left; width: 80%">
            <h3>List of existing configuration</h3>
                @foreach (var item in Model)
                {
                    <input type="checkbox" name="checkbox" value="@item.FollowUpConfigurationID">  @item.Title
                    <br />
                }
        </div>
        <div style="float:right;">
            <button class="btn btn-primary" type="button" id="preview">Preview</button>
            <br/>
            <br/>
            <button class="btn btn-primary" type="button" id="deploy">Deploy</button>
            <br/>
            <br/>
            <button class="btn btn-primary" type="button" id="delete">Delete</button>
            <br/>
            <br/>
        </div>
    </div>
}
else
{
    <h4>No Follow up configuration found!!</h4>
}
</div>

<div id="participanttable">
</div>

<script>
    $('input[type="checkbox"]').on('change', function () {
        $(this).siblings('input[type="checkbox"]').prop('checked', false);
    });
    $("#preview").click(function () {
        var configurationid;
        $.each($("input[name='checkbox']:checked"), function () {
            configurationid = $(this).val();
        });
        if (configurationid != undefined) {
            $.ajax({
                url: "@Url.Action("GetParticipantsByFollowUpConfiguration", "FollowUpMgmt")",
                data: { followupconfigurationid: configurationid },
                type: "Get",
                dataType: "html",
                success: function (result) {
                    $("#participanttable").html(result);
                }
            });
        }
        else
        {
            alert("Select a configuration to preview!")
        }
    });
    $("#deploy").click(function () {
        var configurationid;
        $.each($("input[name='checkbox']:checked"), function () {
            configurationid = $(this).val();
        });
        if (configurationid != undefined) {
            $.ajax({
                url: "@Url.Action("DeployFollowUpConfiguration", "FollowUpMgmt")",
                data: { followupconfigurationid: configurationid },
                type: "POST",
                error: function (response) {
                    alert("Deployment unsuccessful. Possible reason : already deployed!!");
                },
                success: function (response) {
                    alert(response.Success);
                }
            });
        }
        else
        {
                alert("Select a configuration to deploy!")
        }
    });
    $("#delete").click(function () {
        var configurationid;
        $.each($("input[name='checkbox']:checked"), function () {
            configurationid = $(this).val();
        });
        if (configurationid != undefined) {
            $.ajax({
                url: "@Url.Action("DeleteFollowUpConfiguration", "FollowUpMgmt")",
                data: { followupconfigurationid: configurationid },
                type: "POST",
                dataType: "html",
                error: function (response) {
                    alert("Delete unsuccessful.");
                },
                success: function (response) {
                    alert("success");
                }
            });
        }
        else
        {
                alert("Select a configuration to preview!")
        }
    });
</script>