@model PHS.DB.StandardReference 
    
@if (Model.ReferenceRanges != null && Model.ReferenceRanges.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Minimum Value
                    </th>
                    <th>
                        Maximum Value
                    </th>
                    <th>
                        String Value
                    </th>
                    <th>
                        Result
                    </th>
                    <th>
                        Highlight Result
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ReferenceRanges)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.MinimumValue)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.MaximumValue)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.StringValue)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Result)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Highlight)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
