@model PHS.DB.ViewModels.Forms.FormFieldViewModel

@using PHS.Common
@using PHS.Business.Extensions

<div style="width: 90%; word-wrap: break-word; text-align: left;"
     data-sub-channel="sub-label-@Model.DomId"
     class="label editablewysiwyg">@Html.Raw(@Model.Label)</div>

    <span class="required @Model.IsRequired.OutputIfTrue("visible","hidden")">*</span>

    <div class="input" style="width: 90%; margin-left: 1cm;">

        <input id="SubmitFields[@Model.DomId].Signature"
               name="SubmitFields[@Model.DomId].Signature"
               type="hidden"
               style="width: 100px; height:20px;" maxlength="9" />

        <div id="signature-pad" class="m-signature-pad">
            <div class="m-signature-pad--body">
                <canvas style="border:1px solid #000000;"></canvas>
            </div>
            <div class="m-signature-pad--footer">
                <div class="description">Sign above</div>
                <button type="button" class="button clear" data-action="clear">Clear</button>
            </div>
        </div>

        @if (Model.IsEditMode())
        {
            @Html.Partial("_form-field-properties-partial", Model)
        }

        @if (!Model.Errors.IsNullOrEmpty())
        {
            <span class="field-validation-error">@Model.Errors</span>
        }
    </div>

    <a href="javascript:void(0);" title="@Model.HelpText" class="help-icon-1 help-icon @Model.HelpText.OutputIfIs("", "hide") w-tip">
        <img src="@Html.SpacerImage()" alt="help" />
    </a>

    @if (Model.IsEditMode())
    {
        @Html.Partial("_form-field-settings-template")
    }

<script src="~/Scripts/signature_pad.js"></script>

<script type="text/javascript">
    var wrapper = document.getElementById("signature-pad"),
        clearButton = wrapper.querySelector("[data-action=clear]"),
        canvas = wrapper.querySelector("canvas"),
        signaturePad;

    // Adjust canvas coordinate space taking into account pixel ratio,
    // to make it look crisp on mobile devices.
    // This also causes canvas to be cleared.
    function resizeCanvas() {
        // When zoomed out to less than 100%, for some very strange reason,
        // some browsers report devicePixelRatio as less than 1
        // and only part of the canvas is cleared then.
        var ratio = Math.max(window.devicePixelRatio || 1, 1);
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
    }

    function signingEnd() {
        const data = signaturePad.toDataURL();
        var imagen = data.replace(/^data:image\/(png|jpg);base64,/, "");

        document.getElementById("SubmitFields[@Model.DomId].Signature").value = imagen;
    }

    window.onresize = resizeCanvas;
    resizeCanvas();

    signaturePad = new SignaturePad(canvas);
    signaturePad.onEnd = signingEnd;

    clearButton.addEventListener("click", function (event) {
        signaturePad.clear();
    });

</script>
