@model PHS.FormBuilder.ViewModels.FormFieldViewModel
@using PHS.FormBuilder.Extensions

<label style="width: 90%; word-wrap: break-word; text-align: left;"  
       data-sub-channel="sub-label-@Model.DomId" 
       class="label editable">@Model.Label</label>
<span class="required @Model.IsRequired.OutputIfTrue("visible","hidden")">*</span>

<div class="input" style="width: 90%; margin-left: 1cm;">
    <ul class="option-list vertical-list">
        @{var checkedAttribute = "";}
        @foreach (var option in Model.Options.Split(","))
        {
            <li>
                @if (Html.IsTempFormValueSelected(Model, option))
                {
                    checkedAttribute = "checked=\"checked\"";
                }
                else
                {
                    checkedAttribute = "";
                }

                <input id="SubmitFields[@Model.DomId].Checkbox" 
                       name="SubmitFields[@Model.DomId].Checkbox" 
                       @checkedAttribute type="checkbox" value="@option"
                        />
                <label style="display: block; margin-left: 20px; margin-top: -18px; word-wrap: break-word" >@option</label>
            </li>
        }
        @if (Model.AddOthersOption)
        {
            <li>
                <input name="SubmitFields[@Model.DomId].Checkbox" id="SubmitFields[@Model.DomId].CheckboxOthersOption" type="checkbox" name="checkbox-@Model.DomId" value="OthersOption" />
                <input name="SubmitFields[@Model.DomId].OthersOption" id="SubmitFields[@Model.DomId].OthersOption" type="text" placeholder="Others" value="@Html.GetTempFormValue(Model, "OthersOption")" />
            </li>
        }
        else
        {
            <li>
                <input name="SubmitFields[@Model.DomId].Checkbox" id="SubmitFields[@Model.DomId].CheckboxOthersOption" type="checkbox" name="checkbox-@Model.DomId" style="display:none" value="OthersOption" />
                <input name="SubmitFields[@Model.DomId].OthersOption" id="SubmitFields[@Model.DomId].OthersOption" type="text" style="display:none" placeholder="Others" />
            </li>
        }

    </ul>
    @if (Model.IsEditMode())
    {
        @Html.Partial("_form-field-properties-partial", Model)
    }

    @if (!Model.Errors.IsNullOrEmpty())
    {
        <span class="field-validation-error">@Model.Errors</span>
    }
</div>
<a href="javascript:void(0);" title="@Model.HelpText" class="help-icon-1 help-icon @Model.HelpText.OutputIfIs("", "hide") w-tip">
    <img src="@Html.SpacerImage()" alt="help" />
</a>

@if (Model.IsEditMode())
{
    @Html.Partial("_form-field-settings-template")
}


