@model PHS.DB.ViewModels.Forms.FormFieldViewModel

@using PHS.Common
@using PHS.FormBuilder.Extensions


<script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
<link type="text/css" href="/Content/themes/resizable/jquery-ui.structure.min.css" rel="stylesheet" />
<link type="text/css" href="/Content/themes/resizable/jquery-ui.theme.min.css" rel="stylesheet" />


<span class="required @Model.IsRequired.OutputIfTrue("visible","hidden")">*</span>


<div class="input" style="width: 90%; margin-left: 1cm;">



    @if (Model.IsEditMode())
    {
        <img id="ImageView -@Model.DomId" src=@Model.ImageBase64 >
        @Html.Partial("_form-field-properties-partial", Model)
    }
    else
    {
        <img id="fixImage" src=@Model.ImageBase64 >
    }
    @if (!Model.Errors.IsNullOrEmpty())
    {
        <span class="field-validation-error">@Model.Errors</span>
    }
</div>


<a href="javascript:void(0);" title="@Model.HelpText" class="help-icon-1 help-icon @Model.HelpText.OutputIfIs("", "hide") w-tip">
    <img src="@Html.SpacerImage()" alt="help" />
</a>

@if (Model.IsEditMode())
{
    @Html.Partial("_form-field-settings-template")
}

<script>
    function mySetupFunction() {
        //$(this).find('img').resizable();
        //$("#ImageView -@Model.DomId").resizable();
    }

    $(document).ready(mySetupFunction);
    $(window).resize(mySetupFunction);


    $(document).ready(function () {
        $(function () {
            $("#ImageView -@Model.DomId").resizable();
        });

    });
</script>
