@model PHS.DB.ViewModels.Forms.FormCollectionViewModel

@using PHS.Business.Extensions

@section FormCSS{

}

@{
    ViewBag.Title = "Welcome to Form Builder";
}

<div id="dialog">
    <form id="modalform" method="post">
        <label>Name:</label>
        <input id="title" name="title" type="text">
    </form>
</div>

@if (!Model.Forms.Any())
{
    <div class="select-form-container align-center welcome-container">
       <img src="@Url.Content("~/Content/images/spacer.gif")" class="image-bg form-icon" alt="form icon" /><br />

       <h3 class="welcome-text">Welcome to the Form builder. You have not yet created any Forms. Click the button below to begin</h3>
       @Html.RouteLink("Create Form", "form-createform", null, new { @class="hyperlink-button light-blue-button welcome-button"})
    </div>
}
else
{
    @Html.WriteMessages()
    <div class="select-form-container">
    <div class="add-form-guide info align-left welcome-instructions">
      Welcome to the Form builder. You can create and edit Forms. Click on "Add Form" to create a new 
      Form, or manage existing Forms from the table below.
    </div>
    <div class="add-form-button-container">
        <a href="#" id="addForm" class="hyperlink-button black-button">Add Form</a>
    </div>
    <table class="main-table">
    <thead>
      <tr>
        <th><h3>Form List</h3></th>        
        <th>&nbsp;</th>
      </tr>      
    </thead>
    <tbody>
    @foreach (var f in Model.Forms)
    {
        <tr>
       <td class="title-column">
         <span class="title">@f.Title</span><br />
         <span class="date">@f.DateAdded.Humanize()</span>
       </td>       
        <td>          
          @Html.RouteLink("View Template", "form-viewtemplate", new { formId = f.FormID.Value }, new { @class = "hyperlink-button light-blue-button" })
       
          &nbsp;

         <a href="@Url.RouteUrl("form-deleteform", new {formId=f.FormID.Value})" onclick="return confirm('Are you sure you want to delete this form?');" class="image-bg-link image-bg delete-icon-link" title="Delete Form">&nbsp;</a>
        </td>
        </tr>
    }
    </tbody>
    </table>

    </div>
}

@section footerScripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dialog').dialog({
                autoOpen: false,
                modal: true,
                title: 'New Form Name',
                buttons:{
                    'Create': function () {
                        $.ajax({
                            url: '@Url.Action("CreateForm")',
                            timeout: 30000,
                            type: "POST",
                            data: $('#modalform').serialize(),
                            error: function(XMLHttpRequest, textStatus, errorThrown)  {
                                alert("An error has occurred making the request: " + errorThrown)
                            },
                            success: function (response) {
                                var templateId = response.id;
                                var myActionUrl = '@Url.Action("EditTemplate", "Forms", new { id = "templateId" })';
                                myActionUrl = myActionUrl.replace("templateId", templateId);
                                window.location.href = myActionUrl;
                                $('#dialog').dialog("close");
                            }
                        })

                    },
                    'Cancel': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#addForm').click(function () {
                $('#dialog').dialog('open');
            });
        });
</script>
}


