@model PHS.FormBuilder.ViewModels.FormViewModel
@using PHS.FormBuilder.Helpers
@using PHS.Common
@using PHS.FormBuilder.Extensions
@using PHS.FormBuilder.ViewModels

@{
    ViewBag.Title = "View Entries";
    
}
@section headerScripts{
  <script type="text/javascript" src="/scripts/form-builder/fbuilder.utils.js"></script>
  <script type="text/javascript" src="/scripts/form-builder/fbuilder.global.js"></script>
  <script type="text/javascript" src="/scripts/form-builder/fbuilder.layout.js"></script>
  <script type="text/javascript" src="/scripts/css_browser_selector.js"></script>
  <script type="text/javascript" src="/scripts/form-builder/fbuilder.entries.js"></script>   

  <link type="text/css" href="/Content/css/form-builder/forms-common.css" rel="stylesheet"  />
  <link type="text/css" href="/Content/css/form-builder/forms-interface.css" rel="stylesheet"  />    
}

<script>
    function myFunction(selectedobject) {
        var x = selectedobject.value;
        alert(x);
    }
</script>

<div class="form-page-container prepend-top span-26">        
    <div class="inner-container">
        @Html.RouteLink("Home", "form-home",null, new{@class="image-icon-link home-icon-link"})<br />
        <h2 class="form-title">
            @Model.Title</h2>
        <small>(@Model.GroupedEntries.Count() Entries Submitted)</small>        
    </div>        
        <div class="inner-container clear-both">
            @Html.WriteMessages()<br />
            @using (Html.BeginForm("ViewEntriesSubmit", "Forms", FormMethod.Post))
            {
                if (Model.GroupedEntries.Count() > 0)
                {
                    <ul class="horizontal-list form-actions-list">
                        <li>
                            <input type="submit" name="submitButton" class="red" value="Delete Selected" />
                            <input type="submit" name="submitButton" class="green" value="Export to Excel" />
                        </li>
                    
                    </ul>
                    <div class="sort-container">
                        <ul class="horizontal-list form-actions-list">
                            <li>
                                <label style="font-size: 16px;">Sort</label>
                                <a id="sortButton" name="sortButton" class="hyperlink-button light-blue-button">+</a>
                            </li>
                        </ul>

                        <table class="sort-table" cellpadding="0" cellspacing="0" id="sortTable">
                            <tr id="trSortRow0" style="display:none;">
                                <td width="30%">
                                    <select id="sortField" name="sortField">
                                        <option value="empty"></option>
                                        @foreach (var field in Model.GroupedEntries.First())
                                        {
                                            if (field.FieldType != Constants.FieldType.HEADER)
                                            {
                                                <option value="@field.FieldLabel">@field.FieldLabel</option>                    
                                            }
                                        }
                                    </select>
                                </td>
                                <td width="20%">
                                    <select id="sortOrder" name="sortOrder">
                                        <option value="empty"></option>
                                        <option value="ASC">Ascending</option>
                                        <option value="DESC">Descending</option>
                                    </select>
                                </td>
                                <td width="50%">
                                    <a id="removeSortButton" name="removeSortButton" class="hyperlink-button light-blue-button">-</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="criteria-container">
                        <ul class="horizontal-list form-actions-list">
                            <li>
                                <label style="font-size: 16px;">Criteria</label>
                                <a id="criteriaButton" name="criteriaButton" class="hyperlink-button light-blue-button">+</a>
                            </li>
                        </ul>

                        <table class="criteria-table" cellpadding="0" cellspacing="0" id="sortTable">
                            <tr id="trCriteriaRow0">
                                <td width="20%">
                                    <select id="criteriaField" name="criteriaField" onchange="myFunction(this)">
                                        <option value="empty"></option>
                                        @foreach (var field in Model.GroupedEntries.First())
                                        {
                                            if (field.FieldType != Constants.FieldType.HEADER)
                                            {
                                                <option value="@field.FieldLabel">@field.FieldLabel</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td width="20%">
                                    <select id="criteriaCondition" name="criteriaCondition">
                                        <option value="empty"></option>
                                        <option value="eq">eq</option>
                                        <option value="neq">neq</option>
                                        <option value="gt">gt</option>
                                        <option value="gte">gte</option>
                                        <option value="lt">lt</option>
                                        <option value="lte">lte</option>
                                        <option value="startswith">startswith</option>
                                        <option value="endswith">endswith</option>
                                        <option value="contains">contains</option>
                                        <option value="doesnotcontain">doesnotcontain</option>
                                        <option value="in">in</option>
                                    </select>
                                </td>
                                <td width="20%">
                                    <input id="criteriaTextbox" name="criteriaTextbox" type="text"/>
                                    @foreach (var field in Model.GroupedEntries.First())
                                    {
                                        if (field.FieldType == Constants.FieldType.CHECKBOX
                                            || field.FieldType == Constants.FieldType.RADIOBUTTON
                                            || field.FieldType == Constants.FieldType.DROPDOWNLIST)
                                        {
                                            <select id="test" name="test">
                                                <option value="@field.FieldType">@field.FieldType</option>
                                            </select>
                                        }
                                    }
                                    
                                </td>
                                <td width="40%">
                                    <a id="addCriteriaConditionButton" name="addCriteriaConditionButton" class="hyperlink-button light-blue-button">+</a>
                                    <a id="removeCriteriaButton" name="removeCriteriaButton" class="hyperlink-button light-blue-button">-</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="entries-container">
                        <table class="entries-table" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="select-field">
                                        <input id="select-all" class="select-all" type="checkbox" />
                                    </th>
                                    @{var cellCount = 0;}   
                                    @{int colCount = Model.Fields.Count() + 1;}
                                    @{int colWidth = 70;}
                                    @if(colCount > 0){
                                        colWidth = (768/colCount) - 15;
                                    }  
                                    <!--@colCount-->                           
                                    @foreach (var field in Model.GroupedEntries.First())
                                    {
                                        if (field.FieldType != Constants.FieldType.HEADER)
                                        {
                                        <th style="width:@(colWidth)px;">
                                            @field.FieldLabel
                                            @{cellCount = cellCount + 1;}
                                        </th>                        
                                        }
                                    }
                                
                                    <th>
                                        Submitted
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="@(cellCount + 2)" class="no-padding">
                                        <div class="inner-table-container">
                                            <table class="entries-table entries-inner-table">
                                                <tbody>
                                                    @foreach (var group in Model.GroupedEntries)
                                                    {
                                                        <tr>
                                                            <td class="select-field">
                                                                <input class="select-item" value="@group.Key" name="selectedEntries" type="checkbox" />
                                                            </td>
                                                            @{var fieldAddedOn = group.First().DateAdded;}
                                                            @for (int ctr = 0; ctr < cellCount; ctr++)
                                                            {
                                                                FormFieldValueViewModel field = null;

                                                                if (ctr < group.Count())
                                                                {
                                                                    field = group.ElementAt(ctr);
                                                                <td style="width:@(colWidth)px">
                                                                @Html.Raw(field.Format())
                                                                </td>   
                                                                }
                                                                else
                                                                {
                                                                <td>
                                                                    &nbsp;
                                                                </td>   
                                                                }

                                                            }
                                                            <td>
                                                                @fieldAddedOn.Humanize()
                                                            </td>
                                                        </tr>
                                                
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                }
                else
                { 
                    <div class="notice">
                        No entries have been submitted</div>
                }
                @Html.HiddenFor(m => m.Id);
            }            
        </div>   
        
</div>
@section footerScripts{
    
    <script type="text/javascript">
        $(document).ready(function () {
            entries.init();

        });
    </script>
}
