@model PHS.DB.ViewModels.Forms.FormViewModel

@using PHS.Common
@using PHS.FormBuilder.Extensions
@using PHS.DB.ViewModels.Forms

@{
    ViewBag.Title = "View Entries";
    
}
@section headerScripts{
    <script type="text/javascript" src="@Url.Content("~/scripts/form-builder/fbuilder.utils.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/form-builder/fbuilder.global.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/form-builder/fbuilder.layout.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/css_browser_selector.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/form-builder/fbuilder.entries.js")"></script>

    <link type="text/css" href="@Url.Content("~/Content/css/form-builder/forms-common.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/css/form-builder/forms-interface.css")" rel="stylesheet" />  
}

<script>
    //similar code in fbuilder.entries.js
    function myFunction(selectedobject) {
        var label = selectedobject.value;

        var selectField = "criteria[" + label + "]";

        $(selectedobject).parent().parent().parent().find("#tdCriteriaFields").each(function () {
            $(this).find('input, select').each(function () {
                if ($(this).attr("id") == selectField) {
                    $(this).show();
                } else {
                    $(this).hide();
                }

            });
        });

    }


</script>

<div class="form-page-container prepend-top span-26">        
    <div class="inner-container">
        @Html.RouteLink("Home", "form-home",null, new{@class="image-icon-link home-icon-link"})<br />
        <h2 class="form-title">
            @Model.Title</h2>
        <small>(@Model.GroupedEntries.Count() Entries Submitted)</small>        
    </div>        
        <div class="inner-container clear-both">
            @Html.WriteMessages()<br />
            @using (Html.BeginForm("ViewEntriesSubmit", "Forms", FormMethod.Post))
            {
                if (Model.GroupedEntries.Count() > 0)
                {

                    <input id="formId" type="hidden" value="@Model.Id" />

                    <ul class="horizontal-list form-actions-list">
                        <li>
                            <input type="submit" name="submitButton" class="red" value="Delete Selected" />
                            <input type="submit" name="submitButton" class="green" value="Export to Excel" />
                        </li>
                    
                    </ul>
                    <div class="sort-container">
                        <ul class="horizontal-list form-actions-list">
                            <li>
                                <label style="font-size: 16px;">Sort</label>
                                <a id="sortButton" name="sortButton" class="hyperlink-button light-blue-button">+</a>
                            </li>
                        </ul>

                        <table class="sort-table" cellpadding="0" cellspacing="0" id="sortTable">

                            @foreach (var sortField in Model.SortFields)
                            {
                                Html.RenderPartial("_ViewEntriesSortPartial", sortField);
                            }
                        </table>
                    </div>

                    <div class="criteria-container">
                        <ul class="horizontal-list form-actions-list">
                            <li>
                                <label style="font-size: 16px;">Criteria</label>
                                <a id="criteriaButton" name="criteriaButton" class="hyperlink-button light-blue-button">+</a>
                            </li>
                        </ul>

                        <table class="criteria-table" cellpadding="0" cellspacing="0" id="criteriaTable">
                            <tbody id="trCriteriaRow0" style="display:none;">

                                @foreach (var crtieriaField in Model.CriteriaFields)
                                {
                                    Html.RenderPartial("_ViewEntriesCriteriaPartial", crtieriaField);
                                }
                                
                            </tbody>
                        </table>
                    </div>
                
                    
                    
                }
                else
                { 
                    <div class="notice">
                        No entries have been submitted</div>
                }
                @Html.HiddenFor(m => m.Id);
            }            
        </div>   
        
</div>
@section footerScripts{
    
    <script type="text/javascript">
        $(document).ready(function () {
            entries.init();

        });
    </script>
}
