
@using PHS.Common
@using PHS.Business.Helpers

<script type="text/javascript">

    $(document).ready(function () {
        radioFunction();
        checkFunction();
        dropdownFunction();
    });


    function radioFunction() {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper = $(".radio_fields_wrap"); //Fields wrapper
        var add_button = $(".add_radio_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper).append('<div><input data-field-property="optionsRadio" class="is-publisher" type="text" style="border:1px solid #bbb" name="radiotext[]"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
            }
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text

            e.preventDefault(); $(this).parent('div').remove(); x--;

            $("input[name='radiotext[]']").each(function () {
                $(this).trigger("change");
            });
        })
    }

    function checkFunction() {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper = $(".check_fields_wrap"); //Fields wrapper
        var add_button = $(".add_check_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper).append('<div><input data-field-property="optionsCheckbox" class="is-publisher" type="text" style="border:1px solid #bbb" name="mytext[]"/><a href="#" class="remove_field_Checkbox">Remove</a></div>'); //add input box
            }
        });

        $(wrapper).on("click", ".remove_field_Checkbox", function (e) { //user click on remove text

            e.preventDefault(); $(this).parent('div').remove(); x--;

            $("input[name='mytext[]']").each(function () {
                $(this).trigger("change");
            });
        })
    }

    function dropdownFunction() {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper = $(".dropdown_fields_wrap"); //Fields wrapper
        var add_button = $(".add_dropdown_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper).append('<div><input data-field-property="optionsdropdown" class="is-publisher" type="text" style="border:1px solid #bbb" name="dropdownText[]"/><a href="#" class="remove_field_dropdown">Remove</a></div>'); //add input box
            }
        });

        $(wrapper).on("click", ".remove_field_dropdown", function (e) { //user click on remove text

            e.preventDefault(); $(this).parent('div').remove(); x--;

            $("input[name='dropdownText[]']").each(function () {
                $(this).trigger("change");
            });
        })
    }


</script>




<ul class="vertical-list">
    <li class="header static-assets/sidebar-header-full.png">
        <h3 class="sponsors">
            Field Properties</h3>
    </li>
    <li>
        <table id="field-property-table" class="field-property-table " cellpadding="0" cellspacing="0">

         <!-- Header -->
            <tr class="header">
                <td class="label">
                    <label class="label">
                        Text</label>
                </td>
                <td class="input">,
                    <input type="text" data-field-property="text" class="is-publisher" value="Click to edit" />
                </td>
            </tr>

            <!-- field label -->
            <tr class="textbox textarea dropdownlist checkbox fullname email address phone birthdaypicker filepicker captcha matrix signature sectioncollapse">
                <td class="label">
                    <label class="label">
                        Label</label>
                </td>
                <td class="input">
                    <input type="text" data-field-property="label" class="is-publisher" value="Click to edit" />
                </td>
            </tr>
            <!-- max characters -->
            <tr class="email">
                <td class="label">
                    <label class="label">
                        Max Characters</label>
                </td>
               <td class="input">
                    <input type="text"  data-field-property="maxchars" class="numeric-entry is-publisher"/>
                </td>
            </tr>
            <!-- is required -->
            <tr class="textbox textarea dropdownlist radiobutton checkbox fullname email address phone birthdaypicker filepicker nricpicker bmi signature">
                <td class="label">
                    <label class="label">
                        Required</label>
                </td>
                <td class="input">
                    <select data-field-property="isrequired" class="is-publisher">
                        <option value="False" selected="selected">False</option>
                        <option value="True">True</option>                        
                    </select>
                </td>
            </tr>          
            <!--//end is required -->


            <!-- Options Radio -->
            <tr class="radiobutton">
                <td class="label">
                    <label class="label">
                        Options
                    </label>
                </td>
                <td class="input">
                    <div class="radio_fields_wrap">
                        <button class="add_radio_button">Add More Fields</button>
                        <div><input data-field-property="optionsRadio" class="is-publisher"
                                    style="border:1px solid #bbb" type="text" name="radiotext[]">
                        </div>

                    </div>
                </td>

            </tr>
            <!--//end Options Radio -->


            <!-- Options Checkbox -->
            <tr class="checkbox">
                <td class="label">
                    <label class="label">
                        Options
                    </label>
                </td>
                <td class="input">
                    <div class="check_fields_wrap">
                        <button class="add_check_button">Add More Fields</button>
                        <div>
                            <input data-field-property="optionsCheckbox" class="is-publisher"
                                   style="border:1px solid #bbb" type="text" name="mytext[]">
                        </div>
                    </div>
                </td>
            </tr>
            <!--//end Options Checkbox -->


            <!-- dropdown Checkbox -->
            <tr class="dropdownlist">
                <td class="label">
                    <label class="label">
                        Options
                    </label>
                </td>
                <td class="input">
                    <div class="dropdown_fields_wrap">
                        <button class="add_dropdown_button">Add More Fields</button>
                        <div>
                            <input data-field-property="optionsdropdown" class="is-publisher"
                                   style="border:1px solid #bbb" type="text" name="dropdownText[]">
                        </div>
                    </div>
                </td>
            </tr>
            <!--//end dropdown Checkbox -->


            <!-- selected option -->
              <tr class="dropdownlist radiobutton">
                <td class="label">
                    <label class="label">
                       Selected Option</label>
            </td>
               <td class="input">
                    <input type="text" value=""  data-field-property="selectedoption" class="is-publisher"/>
                </td>
            </tr>
            <!--// end selected option -->

            <!-- add others option -->
            <tr class="checkbox radiobutton">
                <td class="label">
                    <label class="label">
                        Add Others Option
                    </label>
                </td>
                <td class="input">
                    <select data-field-property="addothersoption" class="is-publisher">
                        <option value="False" selected="selected">False</option>
                        <option value="True">True</option>
                    </select>
                </td>
            </tr>
            <!--// end  add others option -->
            
            <!-- Watermark -->
            <tr class="textbox">
                <td class="label">
                    <label class="label">
                        Hint</label>
                </td>
                <td class="input">
                    <input type="text"  data-field-property="hint" class="is-publisher"/>
                </td>
            </tr>
            <!--//watermark-->

            <!--min. age -->
             <tr class="birthdaypicker">
                <td class="label">
                    <label class="label">
                        Minimum Age</label>
                </td>
                <td class="input">
                    @Html.DropDownList("minAge", new SelectList(UtilityHelper.NumberRange(1, 100), "Value", "Text", 18), 
                                        new Dictionary<string,object>
                                        { 
                                            { "data-field-property", "minimumage"},
                                            { "class","is-publisher"}                                            
                                            
                                         })
                </td>
            </tr>      
            <!-- end min. age -->
             <tr class="birthdaypicker">
                <td class="label">
                    <label class="label">
                        Maximum Age</label>
                </td>
                <td class="input">
                    @Html.DropDownList("maxAge", new SelectList(UtilityHelper.NumberRange(1, 100), "Value", "Text", 100),
                                        new Dictionary<string, object>
                                        { 
                                            { "data-field-property", "maximumage"},
                                            { "class","is-publisher"}                                            
                                            
                                         })
                </td>
            </tr>      

            <!--valid extensions -->
            <tr class="filepicker">
                <td class="label">
                    <label class="label">
                        Valid Extensions</label>
                </td>
               <td class="input">
                    <input type="text" value="@Constants.DEAULTFILEEXTENSIONS"  data-field-property="validextensions" class="is-publisher"/>
              </td>
            </tr> 
            <!-- end valid extensions-->

            <!--Max filesize-->
            <tr class="filepicker">
                <td class="label">
                    <label class="label">
                        Max. File size (kb)</label>
                </td>
               <td class="input">
                    <input type="text" value="@Constants.DEAULTMAXFILESIZEINKB"  data-field-property="maxfilesize" class="numeric-entry is-publisher"/>
              </td>
            </tr> 
            <!--// end max filesize-->

            <!--Min. filesize-->
            <tr class="filepicker">
                <td class="label">
                    <label class="label">
                        Min. File size (kb)</label>
                </td>
               <td class="input">
                    <input type="text" value="@Constants.DEAULTMINFILESIZEINKB"  data-field-property="minfilesize" class="numeric-entry is-publisher"/>
              </td>
            </tr> 
            <!--// end min. filesize-->

            <!-- Matrix Row -->
            <tr class="matrix">
                <td class="label">
                    <label class="label">
                        Rows
                    </label>
                </td>
                <td class="input">
                    <input type="text" value="" id="matrixrowinput" data-field-property="matrixrow" class="is-publisher" />
                </td>
            </tr>
            <!--// end Matrix Row -->

            <!-- Matrix Column -->
            <tr class="matrix">
                <td class="label">
                    <label class="label">
                        Columns
                    </label>
                </td>
                <td class="input">
                    <input type="text" value="" id="matrixcolumninput" data-field-property="matrixcolumn" class="is-publisher" />
                </td>
            </tr>
            <!--// end Matrix Column -->

            <!--Select Image-->
            <tr class="image">
                <td class="label">
                    <label class="label">
                        Select Image
                    </label>
                </td>
                <td class="input">
                    <input type="file" id="SelectImage" 
                           data-field-property="ImageBase64"
                           style="height:25px" accept="image/*" />
                </td>
            </tr>
            <!--// end select image-->


            <!-- Help text -->
            <tr class="textbox textarea dropdownlist radiobutton checkbox fullname email address phone birthdaypicker filepicker">
                <td class="label">
                    <label class="label">
                        Help Text</label>
                </td>
               <td class="input">
                    <input type="text"  data-field-property="helptext" class="is-publisher"/>
                </td>
            </tr> 

            <!-- PreRegistration Field Name Row -->
            <tr class="textbox textarea dropdownlist radiobutton checkbox fullname email address phone birthdaypicker nricpicker">
                <td class="label">
                    <label class="label">
                        PreRegistration Field Name
                    </label>
                </td>
                <td class="input">
                    
                    @{

                        var listItems = new List<SelectListItem>()
                        {
                            new SelectListItem {Text = Constants.PreRegistration_Field_Name_Nric, Value = Constants.PreRegistration_Field_Name_Nric},
                            new SelectListItem {Text = Constants.PreRegistration_Field_Name_FullName, Value = Constants.PreRegistration_Field_Name_FullName},
                            new SelectListItem {Text = Constants.PreRegistration_Field_Name_Salutation, Value = Constants.PreRegistration_Field_Name_Salutation},
                            new SelectListItem {Text = Constants.PreRegistration_Field_Name_HomeNumber, Value = Constants.PreRegistration_Field_Name_HomeNumber},
                            new SelectListItem {Text = Constants.PreRegistration_Field_Name_MobileNumber, Value = Constants.PreRegistration_Field_Name_MobileNumber},
                            new SelectListItem {Text = Constants.PreRegistration_Field_Name_DateOfBirth, Value = Constants.PreRegistration_Field_Name_DateOfBirth},
                            new SelectListItem {Text = Constants.PreRegistration_Field_Name_Citizenship, Value = Constants.PreRegistration_Field_Name_Citizenship},
                            new SelectListItem {Text = Constants.PreRegistration_Field_Name_Race, Value = Constants.PreRegistration_Field_Name_Race},
                            new SelectListItem {Text = Constants.PreRegistration_Field_Name_Language, Value = Constants.PreRegistration_Field_Name_Language},
                            new SelectListItem {Text = Constants.PreRegistration_Field_Name_Address, Value = Constants.PreRegistration_Field_Name_Address},
                            new SelectListItem {Text = Constants.PreRegistration_Field_Name_Gender, Value = Constants.PreRegistration_Field_Name_Gender},
                            new SelectListItem {Text = Constants.PreRegistration_Field_Name_PreferedTime, Value = Constants.PreRegistration_Field_Name_PreferedTime},
                        };

                        @Html.DropDownList("preregistrationfieldname", listItems, string.Empty, 
                                        new Dictionary<string, object>
                                        {
                                            { "data-field-property", "preregistrationfieldname"},
                                            { "class","is-publisher"}

                                         })
                    }

                    

                </td>
            </tr>
            <!--// end PreRegistration Field Name Row -->

            <!-- Registration Field Name Row -->
            <tr class="textbox textarea dropdownlist radiobutton checkbox fullname email address phone birthdaypicker nricpicker">
                <td class="label">
                    <label class="label">
                        Registration Field Name
                    </label>
                </td>
                <td class="input">

                    @{

                        var regListItems = new List<SelectListItem>()
                        {
                            new SelectListItem {Text = Constants.Registration_Field_Name_Nric, Value = Constants.Registration_Field_Name_Nric},
                            new SelectListItem {Text = Constants.Registration_Field_Name_FullName, Value = Constants.Registration_Field_Name_FullName},
                            new SelectListItem {Text = Constants.Registration_Field_Name_Salutation, Value = Constants.Registration_Field_Name_Salutation},
                            new SelectListItem {Text = Constants.Registration_Field_Name_HomeNumber, Value = Constants.Registration_Field_Name_HomeNumber},
                            new SelectListItem {Text = Constants.Registration_Field_Name_MobileNumber, Value = Constants.Registration_Field_Name_MobileNumber},
                            new SelectListItem {Text = Constants.Registration_Field_Name_DateOfBirth, Value = Constants.Registration_Field_Name_DateOfBirth},
                            new SelectListItem {Text = Constants.Registration_Field_Name_Citizenship, Value = Constants.Registration_Field_Name_Citizenship},
                            new SelectListItem {Text = Constants.Registration_Field_Name_Race, Value = Constants.Registration_Field_Name_Race},
                            new SelectListItem {Text = Constants.Registration_Field_Name_Language, Value = Constants.Registration_Field_Name_Language},
                            new SelectListItem {Text = Constants.Registration_Field_Name_Address, Value = Constants.Registration_Field_Name_Address},
                            new SelectListItem {Text = Constants.Registration_Field_Name_Gender, Value = Constants.Registration_Field_Name_Gender}
                        };

                        @Html.DropDownList("registrationfieldname", regListItems, string.Empty,
                                        new Dictionary<string, object>
                                        {
                                            { "data-field-property", "registrationfieldname"},
                                            { "class","is-publisher"}

                                         })
                    }



                </td>
            </tr>
            <!--// end Registration Field Name Row -->
    </table> 
    </li>
</ul>
