@model PHS.DB.ViewModels.Form.TemplateFieldViewModel

@using PHS.Business.Extensions

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnBmiSubmit").click(function () {

            var weight = document.getElementById('SubmitFields[@Model.DomId].Weight').value
            var height = document.getElementById('SubmitFields[@Model.DomId].Height').value

            displayBMI(weight, height, true);
        });

        var weight = document.getElementById('SubmitFields[@Model.DomId].Weight').value
        var height = document.getElementById('SubmitFields[@Model.DomId].Height').value

        displayBMI(weight, height, false);

    });

    function displayBMI(weight, height, displayAlert) {
        if (weight > 0 && height > 0) {

            var finalBmi = (weight / (height / 100 * height / 100)).toFixed(1);
            document.getElementById("SubmitFields[@Model.DomId].BMI").innerHTML = "BMI: " + finalBmi;

            var standardReferenceID = document.getElementById('SubmitFields[@Model.DomId].StandardReferenceId').value

            if (standardReferenceID != "")
            {
                var jsonObject = {
                    "standardReferenceId": standardReferenceID,
                    "value": finalBmi
                };

                $.ajax({
                    url: "@Url.Action("GetReferenceRange", "FormAccess")",
                    type: "POST",
                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function (response) {
                        document.getElementById("SubmitFields[@Model.DomId].BMIStatus").innerHTML = response.Error;
                    },
                    success: function (response) {
                        document.getElementById("SubmitFields[@Model.DomId].BMIStatus").innerHTML = response.Status;
                        //document.getElementById("SubmitFields[@Model.DomId].BMIStatus").style.color = response.Color;
                    }
                });
            }
            else
            {
                document.getElementById("SubmitFields[@Model.DomId].BMIStatus").innerHTML = "No Reference Indicated";
            }

        }
        else if (displayAlert) {
            alert("Please Fill in everything correctly")
        }
    }

</script>

<label style="width: 90%; word-wrap: break-word; text-align: left;"
       data-sub-channel="sub-label-@Model.DomId"
       class="label editable">@Model.Label</label>
    <span class="required @Model.IsRequired.OutputIfTrue("visible","hidden")">*</span>

    @{
        var readonlyAttribute = Model.IsReadOnlyMode() ? "readonly" : "";
        var disabledAttribute = Model.IsReadOnlyMode() ? "disabled" : "";
    }

    <div class="input" style="width: 70%; margin-left: 1cm;">
        <ul class="vertical-list">


            <li>
                <input id="SubmitFields[@Model.DomId].Weight" 
                       name="SubmitFields[@Model.DomId].Weight" 
                       value="@Html.GetSubmittedTextValue(Model,"Weight")" 
                       @readonlyAttribute
                       type="number" class="title" /><br />
                <span class="sub-label">Weight (kg)</span>
            </li>

            <li>
                <input id="SubmitFields[@Model.DomId].Height" 
                       name="SubmitFields[@Model.DomId].Height" 
                       value="@Html.GetSubmittedTextValue(Model,"Height")" 
                       @readonlyAttribute
                       type="number" class="title" /><br />
                <span class="sub-label">Height (cm)</span>
            </li>


            <li>
                <button type="button" id="btnBmiSubmit" @disabledAttribute>Check</button>
            </li>

            <li>
                <br />
                <label id="SubmitFields[@Model.DomId].BMI">BMI: </label>
            </li>

            <li>
                <br />
                <label id="SubmitFields[@Model.DomId].BMIStatus"></label>
            </li>

            <li>
                <br />
                <input id="SubmitFields[@Model.DomId].StandardReferenceId"
                       name="SubmitFields[@Model.DomId].StandardReferenceId"
                       type="hidden"
                       value="@Model.StandardReferenceID"
                       style="width: 100px; height:20px;" maxlength="9" />
            </li>

        </ul>
        @if (Model.IsEditMode())
        {
            @Html.Partial("_form-field-properties-partial", Model)
        }

        @if (!Model.Errors.IsNullOrEmpty())
        {
            <span class="field-validation-error">@Model.Errors</span>
        }
    </div>


    <a href="javascript:void(0);" title="@Model.HelpText" class="help-icon-1 help-icon @Model.HelpText.OutputIfIs("", "hide") w-tip">
        <img src="@Html.SpacerImage()" alt="help" />
    </a>

    @if (Model.IsEditMode())
    {
        @Html.Partial("_FormFieldSettingsPartial")
    }
