@model PHS.DB.ViewModels.Form.TemplateFieldViewModel

@using PHS.Business.Helpers
@using PHS.Business.Extensions


<label style="width: 90%; word-wrap: break-word; text-align: left;"
       data-sub-channel="sub-label-@Model.DomId"
       class="label editable">@Model.Label</label>

    <span class="required @Model.IsRequired.OutputIfTrue("visible","hidden")">*</span>
    
    @{
        var disabledAttribute = Model.IsReadOnlyMode() ? "disabled" : "";
    }

    <div class="input" style="width: 70%; margin-left: 1cm;">
        <ul class="vertical-list">
            <li>
                <ul class="horizontal-list three-field-row">
                    <li>
                        @Html.DropDownList("SubmitFields[{0}].Month".FormatWith(Model.DomId), new SelectList(ItemListHelper.Months().InsertAtStart(""), "Value", "Text", Html.GetSubmittedTextValue(Model, "Month")), new { @class = "shorter-field", @disabled = "disabled" })<br />
                        <span class="sub-label">Month</span>
                    </li>
                    <li>
                        @Html.DropDownList("SubmitFields[{0}].Day".FormatWith(Model.DomId), new SelectList(ItemListHelper.Days().InsertAtStart(""), "Value", "Text", Html.GetSubmittedTextValue(Model, "Day")), new { @class = "shorter-field", @disabled = "disabled" })<br />
                        <span class="sub-label">Day</span>
                    </li>
                    <li>
                        @Html.DropDownList("SubmitFields[{0}].Year".FormatWith(Model.DomId), new SelectList(ItemListHelper.BirthYears(Model.MinimumAge.Value, Model.MaximumAge.Value).InsertAtStart(""), "Value", "Text", Html.GetSubmittedTextValue(Model, "Year")), new { @class = "shorter-field birth-year", @disabled = "disabled" })<br />
                        <span class="sub-label">Year</span>
                    </li>
                </ul>
            </li>


            <li>
                <ul>
                    <li>
                        <label>Age: </label>
                        <span id="SubmitFields[@Model.DomId].Age"></span>
                    </li>
                </ul>
            </li>
        </ul>

        @if (Model.IsEditMode())
        {
            @Html.Partial("_form-field-properties-partial", Model)
        }

        @if (!Model.Errors.IsNullOrEmpty())
        {
            <span class="field-validation-error">@Model.Errors</span>
        }

    </div>
    <a href="javascript:void(0);" title="@Model.HelpText" class="help-icon-1 help-icon @Model.HelpText.OutputIfIs("", "hide") w-tip">
        <img src="@Html.SpacerImage()" alt="help" />
    </a>

    @if (Model.IsEditMode())
    {
        @Html.Partial("_form-field-settings-template")
    }

    <script type="text/javascript">

        $(document).ready(function () {
            $("select[name='SubmitFields[@Model.DomId].Year']").change(function () {
                var currentYear = new Date().getFullYear();
                var year = $('option:selected', this).text();

                document.getElementById("SubmitFields[@Model.DomId].Age").innerHTML = currentYear - year;
            });
        });

    </script>