@model PHS.DB.ViewModels.Form.TemplateFieldViewModel
@using PHS.Business.Extensions

<label style="width: 30%; word-wrap: break-word" data-sub-channel="sub-label-@Model.DomId" 
       class="label editablewysiwyg">@Html.Raw(@Model.Label)</label>

<span class="required @Model.IsRequired.OutputIfTrue("visible","hidden")">*</span>

@{
    var readonlyAttribute = Model.IsReadOnlyMode() ? "readonly" : "";
}

<div class="input">
    <input id="SubmitFields[@Model.DomId].Email" name="SubmitFields[@Model.DomId].Email" @readonlyAttribute type="text" value="@Html.GetSubmittedTextValue(Model)" maxlength="@Model.MaxCharacters" title="eg. someone@example.com" class="title watermarked" />
    
    @if (Model.IsEditMode())
    {
        @Html.Partial("_FormFieldPropertiesPartial", Model)
    }

    @if (!Model.Errors.IsNullOrEmpty())
    {
        <span class="field-validation-error">@Model.Errors</span>
    }
</div>
<a href="javascript:void(0);" title="@Model.HelpText" class="help-icon-1 help-icon @Model.HelpText.OutputIfIs("", "hide") w-tip">
    <img src="@Html.SpacerImage()" alt="help" />
</a>

@if (Model.IsEditMode())
{
    @Html.Partial("_FormFieldSettingsPartial")
}
