@model PHS.DB.ViewModels.Form.TemplateFieldViewModel

@using PHS.Common
@using PHS.Business.Extensions


<script type="text/javascript">


    $(document).ready(function () {
        $("#btnAddressSubmit").click(function () {

            var zip = document.getElementById('SubmitFields[@Model.DomId].ZipCode').value
            //alert(zip);


            var jsonObject = {
                "zipcode": zip
            };

            $.ajax({
                url: "@Url.Action("GetAddressByZipCode", "FormAccess")",
                type: "POST",
                data: JSON.stringify(jsonObject),
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {

                    document.getElementById("SubmitFields[@Model.DomId].Error").innerHTML = response.Error;
                },
                success: function (response) {
                    document.getElementById("SubmitFields[@Model.DomId].Error").innerHTML = "";
                    document.getElementById("SubmitFields[@Model.DomId].StreetAddress").value = response.Street;
                    document.getElementById("SubmitFields[@Model.DomId].Blk").value = response.Blk;
                }
            });

        });
    });

</script>


<label style="width: 90%; word-wrap: break-word; text-align: left;"
       data-sub-channel="sub-label-@Model.DomId"
       class="label editablewysiwyg">@Html.Raw(@Model.Label)</label>

    <span class="required @Model.IsRequired.OutputIfTrue("visible","hidden")">*</span>

    @{
        var readonlyAttribute = Model.IsReadOnlyMode() ? "readonly" : "";
        var disabledAttribute = Model.IsReadOnlyMode() ? "disabled" : "";
    }

    <div class="input" style="width: 70%; margin-left: 1cm;">
        <ul class="vertical-list">
 

            <li>
                <ul class="two-field-row entry-form-list horizontal-list">
                    <li>
                        <input id="SubmitFields[@Model.DomId].Blk" name="SubmitFields[@Model.DomId].Blk" @readonlyAttribute type="text" value="@Html.GetSubmittedTextValue(Model, "Blk")" class="title shorter-field" /><br />
                        <span class="sub-label">Blk/Hse No</span>
                    </li>
                    <li>
                        <input id="SubmitFields[@Model.DomId].Unit" name="SubmitFields[@Model.DomId].Unit" @readonlyAttribute type="text" value="@Html.GetSubmittedTextValue(Model,"Unit")" class="shorter-field title" /><br />
                        <span class="sub-label">Unit</span>
                    </li>
                </ul>
            </li>

            <li>
                <input id="SubmitFields[@Model.DomId].StreetAddress" name="SubmitFields[@Model.DomId].StreetAddress" @readonlyAttribute value="@Html.GetSubmittedTextValue(Model,"StreetAddress")" type="text" class="title" /><br />
                <span class="sub-label">Street address</span>
            </li>



            <li>
                <ul class="two-field-row horizontal-list entry-form-list">
                    <li>
                        <input id="SubmitFields[@Model.DomId].ZipCode" name="SubmitFields[@Model.DomId].ZipCode" @readonlyAttribute type="text" class="shorter-field title" value="@Html.GetSubmittedTextValue(Model,"ZipCode")" maxlength="6" /><br />
                        <span class="sub-label">zip code</span>
                    </li>
                    <li>
                        <button type="button" id="btnAddressSubmit" @disabledAttribute>Search</button>
                        <label id="SubmitFields[@Model.DomId].Error" style="color: red;"></label>

                    </li>
                </ul>
            </li>
        </ul>
        @if (Model.IsEditMode())
        {
            @Html.Partial("_FormFieldPropertiesPartial", Model)
        }

        @if (!Model.Errors.IsNullOrEmpty())
        {
            <span class="field-validation-error">@Model.Errors</span>
        }
    </div>


    <a href="javascript:void(0);" title="@Model.HelpText" class="help-icon-1 help-icon @Model.HelpText.OutputIfIs("", "hide") w-tip">
        <img src="@Html.SpacerImage()" alt="help" />
    </a>

    @if (Model.IsEditMode())
    {
        @Html.Partial("_FormFieldSettingsPartial")
    }
