@model PHS.DB.ViewModels.Form.TemplateFieldViewModel

@using PHS.Common
@using PHS.Business.Extensions


<label style="width: 90%; word-wrap: break-word; text-align: left;"
       data-sub-channel="sub-label-@Model.DomId"
       class="label editable">@Model.Label</label>

    <span class="required @Model.IsRequired.OutputIfTrue("visible","hidden")">*</span>

    <div class="input" style="width: 70%; margin-left: 1cm;">
        <input id="SubmitFields[@Model.DomId].Nricpicker"
               name="SubmitFields[@Model.DomId].Nricpicker"
               value="@Html.GetSubmittedTextValue(Model, "Nricpicker")"
               type="text"
               style="width: 100px; height:20px;" maxlength="9"/>
              
        @if (Model.IsEditMode())
        {
            @Html.Partial("_form-field-properties-partial", Model)
        }

        @if (!Model.Errors.IsNullOrEmpty())
        {
            <span class="field-validation-error">@Model.Errors</span>
        }
    </div>
    <a href="javascript:void(0);" title="@Model.HelpText" class="help-icon-1 help-icon @Model.HelpText.OutputIfIs("", "hide") w-tip">
        <img src="@Html.SpacerImage()" alt="help" />
    </a>

    @if (Model.IsEditMode())
    {
        @Html.Partial("_form-field-settings-template")
    }

