@model PHS.DB.ViewModels.Form.TemplateFieldViewModel

@using PHS.Business.Extensions

@{
    var readonlyAttribute = Model.IsReadOnlyMode() ? "readonly" : "";
    var displayAttribute = (Model.IsEditMode() || Html.IsDisplayField(Model)) ? "" : "style=display:none;";
}

<div id="mainfield-TextArea-@Model.DomId"
     data-reference="@Model.ConditionTemplateFieldID"
     data-criteria="@Model.ConditionCriteria" data-options="@Model.ConditionOptions"
     @displayAttribute>

    <div style="width: 90%; word-wrap: break-word; text-align: left;"
         data-sub-channel="sub-label-@Model.DomId"
         class="label editablewysiwyg">@Html.Raw(@Model.Label)</div>

        <span class="required @Model.IsRequired.OutputIfTrue("visible","hidden")">*</span>

        <div class="input" style="width: 90%; margin-left: 1cm;">
            <textarea style="min-height:100px; min-width:100px; max-width: 95%"
                      id="SubmitFields[@Model.DomId].TextArea"
                      name="SubmitFields[@Model.DomId].TextArea"
                      @readonlyAttribute
                      type="text">
                @Html.GetSubmittedTextValue(Model)
                </textarea>

                @if (Model.IsEditMode())
                {
                    @Html.Partial("_FormFieldPropertiesPartial", Model)
                }

                @if (!Model.Errors.IsNullOrEmpty())
                {
                    <span class="field-validation-error">@Model.Errors</span>
                }
            </div>

            <a href="javascript:void(0);" title="@Model.HelpText" class="help-icon-1 help-icon @Model.HelpText.OutputIfIs("", "hide") w-tip">
                <img src="@Html.SpacerImage()" alt="help" />
            </a>

            @if (Model.IsEditMode())
            {
                @Html.Partial("_FormFieldSettingsPartial")
            }
</div>

