@model PHS.DB.ViewModels.Form.FormCollectionViewModel

@using GridMvc.Html
@using PHS.Business.Extensions

@section FormCSS{

}

@{
    ViewBag.Title = "Welcome to Form Builder";
}

@if (!Model.Forms.Any())
{
    <div class="select-form-container align-center welcome-container">
       <img src="@Url.Content("~/Content/images/spacer.gif")" class="image-bg form-icon" alt="form icon" /><br />

       <h3 class="welcome-text">Welcome to the Form builder. You have not yet created any Forms. Click the button below to begin</h3>
       <a href="@Url.Action("CreateForm", "Form")" id="createForm" class="hyperlink-button black-button">Add Form</a>
    </div>
}
else
{
    @Html.WriteMessages()
    <div class="select-form-container">
    <div class="add-form-guide info align-left welcome-instructions">
      Welcome to the Form builder. You can create and edit Forms. Click on "Add Form" to create a new 
      Form, or manage existing Forms from the table below.
    </div>
    <div class="add-form-button-container">
        <a href="@Url.Action("CreateForm", "Form")" id="createForm" class="hyperlink-button black-button">Add Form</a>
    </div>

    @Html.Grid(Model.Forms).Columns(columns =>
    {
        columns.Add(c => c.Title).Titled("Title").Filterable(true);
        columns.Add(c => c.IsPublic).Titled("Is Public").Filterable(true);
        columns.Add(c => c.InternalFormType).Titled("Internal Form Type").Filterable(true);
        columns.Add(c => c.Slug).Titled("Slug").Filterable(true);
        columns.Add(c => c.PublicFormType).Titled("Public Form Type").Filterable(true);
        columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(o => Html.ActionLink("Edit", "EditForm", new { id = o.FormID }));
        columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(o => Html.ActionLink("View Template", "ViewTemplate", new { id = o.FormID }));
        columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(o => Html.ActionLink("Delete", "DeleteForm", new { id = o.FormID }, new { onclick = "return confirm('Are you sure you want to delete this form?');" }));

    }).WithPaging(10).Sortable(true)

    </div>
}


