@model IEnumerable<PHS.DB.Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .div-inline {
        display: inline-block;
    }
</style>

@if (TempData["Message"] != null)
{
    //<p class="alert alert-success" id="successMessage">@TempData["Message"]</p>
    <div class="alert alert-success alert-dismissable fade in" id="successMessage">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        @TempData["Message"]
    </div>
}

@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    <p>
        <b>Search by:</b>
        User Id:   @Html.RadioButton("SearchBy", "UserId", true)
        Name: @Html.RadioButton("SearchBy", "Name") <br />
        @Html.TextBox("SearchString")
        <button type="submit" class="btn btn-basic" value="Search">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </p>
}

@*<div class="dropdown div-inline">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Other Actions
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><input type="submit" class="form-control btn btn-default" name="dropdownselection" value="ResetPassword"></li>
        <li><input type="submit" class="form-control btn btn-default" name="dropdownselection" value="Activate"></li>
        <li><input type="submit" class="form-control btn btn-default" name="dropdownselection" value="Inactivate"></li>
    </ul>
</div>*@
@using (Html.BeginForm("Action", "User", FormMethod.Post))
{
    @Html.ActionLink("Create New", "CreateUser", "User", null, new { @class = "btn btn-primary" })
    <input name="SubmitBtn" type="submit" class="btn btn-primary" value="Reset Password" onclick = "return confirm('Are you sure you want to reset password');" />
    <input name="SubmitBtn" type="submit" class="btn btn-primary" value="Activate" onclick = "return confirm('Are you sure you want to Activate user');" />
    <input name="SubmitBtn" type="submit" class="btn btn-primary" value="Inactivate" onclick = "return confirm('Are you sure you want to Inactivate user');" />

    if (Model !=null && Model.Count()> 0)
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Role)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactNumber)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var item in Model)
        {
                    <tr>
                        <td class="vcenter">
                            <input type = "checkbox" id="checkboxid" name="selectedUsers" value="@item.Username" />
                        </td>
                        <td>
                            @Html.ActionLink(item.Username, "UserDetails", new { userid = item.PersonID
    })
                        </td>
                        <td>
                            @if(item.IsActive == true)
    {
                                <span class="glyphicon glyphicon-ok-sign" style="color:green"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-minus-sign" style="color:grey"></span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNumber)
                        </td>
                        <td>
                            @Html.ActionLink(
                                " ",
                                "EditUser",
                                "User",
                                new { userid = item.PersonID },
                                new
                                {
                                    @class = "glyphicon glyphicon-edit"
                                })
                        </td>
                        <td>
                            @Html.ActionLink(
                                " ",
                                "DeleteUser",
                                "User",
                                new { userid = item.PersonID },
                                new
                                {
                                    @onclick = "return confirm('Are you sure you want to delete this User');",
                                    @class = "glyphicon glyphicon-trash"
                                })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

<script>
    $(function showDateselectionDialog() {
        $('.datepickerstart').datepicker(
            {
                minDate: 0,
                dateFormat: 'yy-mm-dd'
            }).datepicker("setDate", "0");
        $('.datepickerend').datepicker(
            {
                minDate: 0,
                dateFormat: 'yy-mm-dd'
            }).datepicker("setDate", "2099/12/31");
        $('.activecheckbox').change(function () {
            if ($('.activecheckbox').prop('checked') == true) {
                $(".datepickerstart").prop('disabled', false);
                $(".datepickerend").prop('disabled', false);
            }
            else {
                $(".datepickerstart").prop('disabled', true);
                $(".datepickerend").prop('disabled', true);
            }
        });
        $('.activecheckbox').prop('checked', true);
        $('.activecheckbox').trigger('change');
    });
</script>
