@model PHS.DB.Person

@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Details</h2>
@if (Model != null)
{
    <div class="container text-center">
        <h4>User Details</h4>
    </div>

    <hr />

    <div class="form-group" style="margin-left:35%">

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Role)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Role)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedDateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedDateTime)
            </dd>
        </dl>
    </div>
}

